In [10]:
import numpy as np
import pandas as pd
from collections import Counter

In [11]:
data = {
    'outlook': ['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy', 'overcast', 'sunny', 'sunny', 'rainy', 'sunny', 'overcast', 'overcast', 'rainy'],
    'temp': ['hot', 'hot', 'hot', 'mild', 'cool', 'cool', 'cool', 'mild', 'cool', 'mild', 'mild', 'mild', 'hot', 'mild'],
    'humidity': ['high', 'high', 'high', 'high', 'normal', 'normal', 'normal', 'high', 'normal', 'normal', 'normal', 'high', 'normal', 'high'],
    'windy': [False, True, False, False, False, True, True, False, False, False, True, True, False, True],
    'play': ['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no']
}
df = pd.DataFrame(data)
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [12]:
df['outlook'] = df['outlook'].astype('category').cat.codes
df['temp'] = df['temp'].astype('category').cat.codes
df['humidity'] = df['humidity'].astype('category').cat.codes
df['windy'] = df['windy'].astype('category').cat.codes
df['play'] = df['play'].astype('category').cat.codes

# Convert DataFrame to list of lists
dataset = df.values.tolist()
dataset

[[2, 1, 0, 0, 0],
 [2, 1, 0, 1, 0],
 [0, 1, 0, 0, 1],
 [1, 2, 0, 0, 1],
 [1, 0, 1, 0, 1],
 [1, 0, 1, 1, 0],
 [0, 0, 1, 1, 1],
 [2, 2, 0, 0, 0],
 [2, 0, 1, 0, 1],
 [1, 2, 1, 0, 1],
 [2, 2, 1, 1, 1],
 [0, 2, 0, 1, 1],
 [0, 1, 1, 0, 1],
 [1, 2, 0, 1, 0]]