# Introduction to Python

Python is a widely used general-purpose programming language. Python was created in the late 1980s as a successor to the ABC language with very limited functionalities. Then it was designed by Guido van Rossum and developed by Python Software Foundation which was finally released in 1991. When it was released, it used a lot fewer codes to express the concepts, when we compare it with Java, C++ & C. It was mainly developed for emphasis on code readability, and its syntax allows programmers to express concepts in fewer lines of code.

**What is Python?**

Python is a general-purpose object oriented High level language that can be used for other types of programming and software development besides web development. Python has broad range of things that can be done in the programming world. Python can be used for things like web service and mobile app development, desktop app and software development, along woth the big data processing, modeling, and performing mathematical computations and many more.

**Python has the following features:**

1. Open Source: This means that you can easily access python source code from sources and make modifications, that is, the codes are reusable.
2. Cross Platform: Python has the ability to run on many operating systems such as Windows, Linux, macOS, Unix etc.
3. Standard Libraries:Python has built-in standard libraries that contains codes that can be made use of while writing program.
4. Supports for exception handling: Python handles problems of exception such that we will be able to write less code prone of error, error is being reduced through this and we can test different scenarios capable of causing an exception in the future.
5. Automatic Memory Management: Python provides a way through which memory is automatically optimized and freed.
6. Readable: Python codes are easily readable by users.
7. Easy to learn: Python is easy to learn due to the fact that the code is less
complex in nature. The codes are written in simpler ways, English Language like manner, compared to most of the other programming languages.

## Data Types in Python

It is important to understand the various data types in python as certain application require proper data type.

Data types are the classification or categorization of data items. Data types represent a kind of value which determines what operations can be performed on that data. Numeric, non-numeric and Boolean (true/false) data are the most used data types.

Here are the data types in Python that we are about to discuss:
    
* Integers: These are whole numbers like 1, 60, and 100 and don't have any decimal points. Positive or negative whole numbers. They can be negative or positive whole numbers that have no decimal point.

* Float: Floats represent real numbers; they are expressed with a decimal point dividing the integer and fractions. Floats are present in scientific notations, the power of 10 is indicated by E or e. For instance, 5.6 and 234.6.

* Strings: Strings are ordered sequences of characters. They are words and can be numbers also. For example, here 100 has two quotes, so its note longer an integer

The below-given table summarizes the data types:

![data_types.png](images/data_types.png)

Whenever an object is instantiated, it is assigned a unique object id within the system. The type of the object is defined at the runtime and it can’t be changed afterwards.However, it’s state can be changed if it is a mutable object.

To summarise the difference, mutable objects can change their state or contents and immutable objects can’t change their state or content. Let us look into Mutable and immutable datatypes as we go along for better understanding.

* Immutable Objects : These are of in-built types like int, float, bool, string, unicode, tuple.
* Mutable Objects : These are of type list, dictionary, set .

![Datatype1.png](images/Datatype1.png)

**Number Conversion**

In Python, number types are being converted internally in an expression from mixed types to a common type. Sometimes, there is need to change from one number type to another in order to meet up with the requirements of an operator. Examples are demonstrated below:

* When you type int(x), conversion will be done on x to a plain integer.
* Typing float(x) converts x to a floating-point number.

Let's discuss all this types and see how we use them in Python

### Booleans
Booleans are two logical values and returns `True` or `False`.

Here 1 equals 1 then it is true value

In [6]:
print(1==1)

True

Here 1 not equals 2 then it is flase value

In [7]:
print(1==2)

False

When we check if 1 is less than 2, it returns `True`

print(1<2)

### Working with Numbers


There are two types of numbers we will work within python: `Integers` and `float`. Let's explore them and see how we can create variables and assign them to values.

In [12]:
#Example
x = 20   #integer
y = 20.5 #Float

Let's check the types of these numbers to make sure:

In [13]:
print(type(x)) 
print(type(y))

<class 'int'>
<class 'float'>

#### Basic Math
Let's start by doing some basic math with numbers.
If you want to do an addition, you can use the "+" sign.

In [6]:
# Adding two numbers
1+1

2

If you want to do an subtraction, you can use the "-" sign.

In [7]:
# Subtracting two numbers
1-1

0

For multiplication use the astric " * "

In [8]:
# Multiply two numbers
3*2

6

For division use the slash " / "

In [9]:
# Divide two numbers
4/2

2.0

#### Mod

What mod does is to get the reminder after a division. This to check if a number is evenly divisible by another number.

In [10]:
# Get the reminder
7 % 4

3

#### Powers
To make power, use a double astric, Here 2 power 3

In [11]:
# 2 Power 3
2 ** 3

8

### Working with Strings

Sequence of characters are referred to as `string`. A symbol is a character. For instance, the word “Mathematics” has 11 characters. In python, sequence of Unicode characters is known as the string.

In [ ]:
In python, string is being created by putting characters inside a double-quote or single quote. Characters may be put in triple-quote to make multiline string and docstring.
Examples of strings are demonstrated below:

In [37]:
my_string = 'Welcome' 
print(my_string)

Welcome

In [ ]:
Or we can define string with double quotes

In [38]:
my_string = "Welcome"
print(my_string)

Welcome

In [ ]:
Do you think that we can use triple quotes in defining the string. Well, let's check that:

In [41]:
print("""Hello, welcome to my world""")

Hello, welcome to my world

Cool, triple quotes works but the beauty of triple quotes is that it allows us to type multiple lines of sentence that we cannot do in single or double quotes.

In [44]:
print("""Magnimind offers you to wide variety of courses provided by 
top-notch data scientist""")

Magnimind offers you to wide variety of courses provided by
top-notch data scientist

In [17]:
fruit1 = 'apple'
fruit2 = 'banana'
print(fruit1, " & " , fruit2)

apple  &  banana

#### Escape sequence
We use `\n` to enter a new line in a string. This will print 'world' in a new line.

In [27]:
# Print new line
print('hello \n world')

hello
 world

Another escape sequence is to use `\t` which adds space between words.

In [28]:
# Print new tab
print('Hello \t world')

Hello 	 world

#### Get length of a string
`len()` is a built-in function in that returns the number of characters in a string.

So, here we passed the string 'python' to `len()` function and returns the number of character is the string.

In [29]:
# Get number of character in 'python'
len('python')

6

Please note that white spaces are counted as a characters in Python.

In [48]:
# Get number of character in 'intro to python' with white spaces
len('intro to python')

15

#### 1.3.3 Indexing and slicing
**Indexing** is to grab a single character and **slicing** is to grab multiple characters from a string.

**Indexing**
Strings are ordered sequences, so we can use indexing and slicing to get a section of the string, by using the indexing notation `[]` after the string name. Indexing means to grab a single or more than one character from the string.

So how indexing works is that every single character has an index position assigned to it. For example, the letter `p` has an index position of 0, and `y` has an index position of 1. If I want to grab the letter `y`, we use the square bracket after the string name and pass the index position of the letter `y`. We'll go through this in a while.

The String : P y t h o n

The Index  : 0 1 2 3 4 5

There is also another way to indexing called **reverse index** , when we want to grab the last character of a string we use the reverse index.

The String : P y t h o n

The Index : 0 1 2 3 4 5

RevIndex : 0 -4 -3 -2 -1

Let's create a string variable called "the_string"

In [31]:
# Define a string with double quotes
the_string = "python"

In [32]:
the_string

'python'

Suppose we want to grab a single character from that string, say we want to grab the letter 't,' so we use indexing by calling the variable name, and we have square brackets after it and indicating the index number of letter 't' which is '2.'

In [34]:
# Grab character of index '2' from the_string
the_string[2]

't'

Let's try another character, say we want to grab the first letter.

In [36]:
# Grab character of index '0' from the_string
the_string[0]

'p'

Let's try to grab the last character, here we will use reverse index instead of counting the characters and when you don't know the string's length. Since this is the last letter, then its index is '-1'.

In [37]:
# Grab the last character from the_string
the_string[-1]

'n'

Slicing is different from indexing because, in slicing, you want to grab multiple characters of a string. We do that by using the square brackets with this syntax [start:stop: step].

Start: is the start of the index to start slicing from.

Stop : is the index that you'll go upto but it's not included.

Step : is the size of steps it takes between the charachters.

Let's define our string variable:

In [38]:
the_string = "Intro to python"
the_string

'Intro to python'

Suppose we want to grab only the first word, then we use slicing by defining its start index, stop index, and the number of steps.

Here, we start with index 0 because we want to start from the beginning and stop at index 5, which is no included.

In [39]:
# Grab string from the start to index 5 and not include it.
the_string[0:5]

'Intro'

If we want to start from a specific index to the end we only specify its start.

In [40]:
# Grab string from index 6 to the end.
the_string[6:]

'to python'

If we want to grab everything from the beginning to a specific end of the string, we only specify the end index.

In [41]:
# Grab everything from the begining to index 5 and not include it.
the_string[:5]

'Intro'

For the third parameter, the steps, the normal slicing is to take steps equals 1. If it's, for example, equals 2, then it will slice and take two jumps. Let's see in the below example.

In [42]:
# Grab everything from the begining to the end with jumps of 2.
the_string[::2]

'Itot yhn'

Well, let's combine what we have learned so far about the selection in string with the following example:

In [32]:
sentence = 'Split a string'
print('First letter: ' , sentence[0])
print('Second letter: ' , sentence[1])
print("First 5 elements: " , sentence[:5])
print("Elements between 3rd and 5th place: " , sentence[2:6])

First letter:  S
Second letter:  p
First 5 elements:  Split
Elements between 3rd and 5th place:  lit

**Immutability of string**

The immutability of string is that you can't change a character from a string. For example, in the below string you can't change the letter 'J' with another letter. This will give an error because strings in python are immutable.

In [43]:
name = 'John'
name[0] = 'o'

TypeError: 'str' object does not support item assignment

**Concatenate strings**

To merge two or more strings in one string variable. We use the plus sign to add the two strings together.

In [44]:
# Concat two string using plus sign
x = "Hello"
y = "World"
z = x + y
z

'HelloWorld'

Another examples:

In [50]:
# Concat a string variable with string
x = 'Hello'
x = x + 'World'
x

'HelloWorld'

In [46]:
# Concat two numbers that are strings
'2' + '3'

'23'

We are allowed to use multiplication sign in strings but we use it to generate same string over and over again:

In [51]:
x *= 2
print(x)

HelloWorldHelloWorld

### 1.3.6 Format a string
There is more than one way to format your string for printing instead of using the plus sign.
The two methods which we will discuss is:
- .format()
- f-strings()

#### .format()
You're going to have your string defined, and inside your string you'll have curly braces. This will be placeholders for the variables you'll insert, and after string write ".format()" and inside it pass the variables or string.

In [47]:
print('Intro to {}'.format('python'))

Intro to python

Strings can be inserted by index position. So, here .format() is going to insert this strings in the same order you passed them to the curly braces.

In [48]:
# print by default order
print('{} {} {}'.format('Intro','to','python'))

Intro to python

To change the order of the strings we pass the index position of the strings to the curly braces

In [49]:
# print using string index 
print('{2} {1} {0}'.format('Intro','to','python'))

python to Intro

You can change order of the strings by defining a key for each string and pass this key in the curly braces.

In [50]:
# Print using keys
print('{I} {T} {P}'.format(I='Intro',T='to',P='python'))

Intro to python

We can define strings outside the .format() function and pass these variables to the curly braces.

In [51]:
# Print using variable
the_string = "Intro to python"
print('{}'.format(the_string))

Intro to python

**f-strings()**

F-strings is simply injecting variables strings in the curly braces without the **.format** method

Let's define some variable strings and when printing, outside the single quotes just add "f" to let python know you're using 
the f-strings.

In [52]:
# Define first and last name to merge together.
first_name = "john"
last_name = "Doe"
print(f'{first_name}{last_name}')

johnDoe

**Capitialize a string**

In [53]:
#Capitalize the first letter in string 'name'
name = "john doe"
name = name.capitalize()
name

'John doe'

**Upper case the string**

We use the 'Upper' built-in method in a string.

In [54]:
#upper case john
name = "john"
name = name.upper()
name

'JOHN'

**Lower case the string**

In [55]:
#lower case JOHN
name = "JOHN"
name = name.lower()
name

'john'

**Split the string**

What split does is that it splits all the words in a string into a list (we'll talk about later). By default it splits every word after each white space.

In [56]:
name = "john doe"
name = name.split()
name

['john', 'doe']

In [58]:
sentence = "Welcome to our course. Today we are going to discuss strings"
sentence = sentence.split('.')
sentence

['Welcome to our course', ' Today we are going to discuss strings']

So, the sentence is splitted based on `.` To split by commas, we specify in the split function what we want to split by. Here we split by commas.

In [59]:
# Split string 'name' after each comm
name = "john,doe"
name = name.split(',')
name

['john', 'doe']

**Count number of occuruce of a character**

Say you want to see how many times letter `o` appeared in a string, we use the count method after the string and specifiy the letter we want to count.

In [60]:
#Count how many times letter 'o' appeared
name = "john doe"
name.count('o')

2

**Find the index of a letter**

`find()` method here takes the letter and returns its postition in the string.

In [62]:
#Find position of letter 'h'
name = "John"
name.find('h')

2

Also, `index()` method can do that.

In [62]:
#Find position of letter 'h'
name = "John"
name.index('h')

2

**Replace each character with a new one**

We use `replace()` method to replace each letter in a string with another one. Replace method takes two parameters. The first one is the letter we want to replace and for the second parameter is the new letter.

In [64]:
# Replace letter 'j' with 'u'
name = 'john'
name = name.replace('j','u')
name

'uohn'

In [65]:
# Replace letter 'john' with 'mark'
name = 'john'
name = name.replace('john','mark')
name

'mark'

**Strip method**

What strip method does is that strips off your string from extra whitespaces.

In [65]:
# Remove extra white spaces from the whole string
name = "  Hello  "
name.strip()

'Hello'

In [66]:
# Remove extra white spaces from string
# rstrip to remove white spaces from the right
name = "Hello  "
name.rstrip()

'Hello'

In [67]:
# Remove extra white spaces from string
# lstrip to remove white spaces from the left
name = "  Hello"
name.lstrip()

'Hello'

### Variable

A variable can be described as a symbol which serves as a placeholder, it holds values, for various expressions and it is frequently being used as representation for elements of a set. Variables represent memory locations to store values and the values can be changed, variables in python programming language gives data to the computer for processing. An example of variable declaration in python is:

In [45]:
B=50
print(B)

50

**Rules for choosing a variable?**
- Variable name should be unique and not repeated.
- Variable cannot start with number.
- Variable name should be describe what it stores.
- There can't be sapces but use underscores between two words. 
- Use lowercase letters.
- Avoid using python special works ex: list

**NOTE**
- Python uses Dynamic typing, which means that you can reassign new values with different data types.
**Let's see an example:**
Here, In python this normal, we firstly assigned students with a number of 2, and then we reassigned a list to the same variable.

In [14]:
# Assign 2 to students
students = 2
print(students)

2

In [15]:
# Assign a list to students (We'll talk about lists later)
students = ['adam','john']
print(students)

['adam', 'john']

I can reassign it by saying **number** equals to a new number.

In [16]:
number = 6

Now let's check

In [17]:
number

6

In Python, we are quite flexible in choosing names for our variables. However, as in every programming language, there are a number of simple rules for naming variables in Python. These can be listed as follows:

* Variables must begin with a letter or an underscore (_), not with numbers or arithmetic symbols (+, /, *, etc.).

* Variable names can contain letters, numbers, and underscores.

* The following 33 words (reserved words) cannot be used as the name of a variable because Python already uses them in its syntax.
      False   class      finally   is         return
      None    continue   for       lambda     try
      True    def        from      nonlocal   while
      and     del        global    not        with
      as      elif       if        or         yield
      assert  else       import    pass    
      break   except     in        raise

From this point on, we start to learn data structures in Python. Data structures bring values together in different ways and provide us with ease in many of the processes we need. Data structures in Python are:

* Lists: Now we came to data structures. Data structures are more specialized data types. They can hold data of many types. Here we have a list that stores a string and a floating-point.
* Dictionaries: Dictionaries are another data structure that can store other data types. But here we have for each value in the list a key describes it. We'll go through this in detail and how Dictionary works.
* Tuples: These are ordered immutable sequences of objects. They look like lists, excepts they have parentheses. And immutable means you can't change any value already in the tuple.
* Sets: Sets here is an unordered collection of unique objects. They look like dictionaries except they don't have keys.
* Booleans: Finally, booleans are logical values indicating True or False.

Variables may take different forms depending on the characteristics of data. These different form can be gathered under three topics:
    * Categorical
    * Discrete
    * Continuous

### Categorical Data

Categorical data has to do with characteristics. An example can be described in the case of a person’s religion, race, gender etc. For instance, person’s with Christianity religion can take numerical value 0 and person’s with Islam religion can take numerical value 1.
Values of Categorical Data are either in np.nan or categories. The data structure consists of categories array and an integer array of codes that points to the real value in the categories array.

Categorical Data Type is used in the following cases:

* A string variable that consists of only a few different values. The act of converting such string to a categorical variable will save memory.
* The lexical order of a variable is not the same as the logical order (“one”, “two”, “three”), converting such to a categorical variable and specifying an order on the categories, sorting will use the logical order instead of the lexical order.

**Nominal Variables**

Nominal variables represent categories or groups, so we are not able to sort and rank values. For example, if we have a variable that indicates the country of origin of a product, then this variable can only take limited number of different countries in the world.

Moreover, among the values that a nominal variable can take, order does not make sense. Relationships such as greater, smaller or equal for the values of a nominal variable are not clearly defined. The variables representing the country, gender, species, etc. Examples of nominal variables are.

In summary, nominal variables are the variables that divide the properties of the units that cannot be directly measured by numbers. Different categories are represented, for instance, by 0, 1, 2. However, these codes have no numerical meaning. For example, marital status; it is a four-category variable that can be classified as married, single, widowed, divorced, and this variable can be coded as “married: 0”, “single: 1”, “widow: 2” “divorced: 3”, but these numerical codes are numeric. It does not represent a size nor can be ordered.

**Ordinal Variables**

These are the variables in which their categories are listed sequentially. It is frequently used in obtaining opinions about expressions, especially in the survey studies.

So, ordinal variables indicate the order. For example, runners are orders like first place, second place, and 3 for third place, etc. However, this does not provide any information about the distance between places. We know that the 1st runner is faster at the 2nd runner, but the difference in their time can be minutes or milliseconds. Also, the difference between the time interval between the 1st and the 2nd runner is probably not the same as the time difference between the 2nd and the 3rd.

Another example can be about education level and it can be measured by primary, high school, university and graduate categories, it is clearly seen that there is a ranking among the categories. In short, if you can order but have no idea about the difference of the variables then it is ordinal variable.

**Binary Variables**

Binary variables take two values and this makes it a special type of categorical variable. These variables are usually categorical in nature and are called binary or dichotomous variables. For instance, male and female, yes and no, and rich and poor are examples of binary variables.

### Discrete Data

Discrete data are kinds of data that can’t be measured but they can be counted, they represent classified information. Categorical variable takes on a limited but fixed number of possible values. An example can be described in a situation where we are trying to get the number of heads that appear in 200 tossed coin. When you are dealing with data and they are data that can be counted and divided up into smaller parts, then such data are discrete data. Other examples are represented in getting person’s gender, blood type, country affiliation, social class etc.

Discrete data includes whole numbers (integers) like 1,356, 9 that can not be divided because of the nature of what they are.

Other examples can be: 
* the number of persons in a class, 
* the number of children someone has or 
* the number of fingers someone has.

### Continuous Data


Continuous data are kinds of data that can be measured but their values cannot be counted. A simple example of a continuous data is human height. human height is represented by intervals on real number line. Data in continuous data can be summarized using percentiles, range, standard deviation, mean, median and mode. Examples are: the weight of a car, temperature of a region etc.

**Interval Variables**

It is a type of variable that has an uncertain starting point, and from this starting point, the scale is divided into equal intervals, with no absolute zero.

Interval variables show both order and difference. The temperature is a good example for the interval variable. The difference between 10 °C and 15 °C is the same as the difference between 20 ° C and 25 ° C (5 °C). The most important point about the interval variables is that there is no absolute zero point. For example, a temperature of 0 °C does not mean that there is no temperature in the air! The absence of an absolute zero point means that the comparison is subject to subjective interpretation, for instance, 20 °C is not twice as hot as 10 ° C.

**Ratio Variables**

These are the variable that have a starting point that shows absolute absence so that the ratio as well as the differences between the values can be calculated. The difference of the ratio variables from the ratio variable is that it has a real zero (origin) point and a divisible feature. The fact that all arithmetic operations can be applied to ratio variables makes this scale stronger than other variables.

Hence, ratio variables show the order, distance, and a meaningful absolute zero value - when a rate variable has a score of 0, we know that none of the amount measured by the variable is available. The existence of an absolute zero value is the main distinction between the ratio and interval variables. For example, age is a rate variable: a 0-year-old is not yet born, and a 20-year-old lived twice as much as a 10-year-old.

## Lists

List is a data structure in python, It's a collection of items separated by comma and contained in a square brackets. This items can be in different data types: numbers, string, boolean, and tuples.

A list holds an ordered collection of items. A list enables one to store sequence of heterogenous data items, from integers to strings or another list. A real-life scenario is a situation whereby you are presented with a list of items to buy, but you have each item on a separate line in your shopping list and in Python there is need to put commas between the items.

There is need to enclose the list of items in square brackets so that it will be easily understood by Python that you are specifying a list. Once a list has been created, items can be added, removed or searched for. We can add and eliminate items from a list, and by this, it is safe to imply that a list is a mutable data type.

**Example:** This is how a list looks like: foodlist = ["Apple","Orange","Tomato","Kiwi"]

### Construct a list

Let's create a simple list of strings. Each item in the list is separated by a comma and encolsed between brackets.

In [69]:
# Initlize a list of animals (strings)
Animals = ['cat','dog','cow']
Animals

['cat', 'dog', 'cow']

Lists can contain different types of items together as in the example below. However, usually the items are all of the same type (e.g. a list of just integers).

In [67]:
Sample_List = ['Hello', 42, 3.414, True, None]

In [70]:
# Initlize a list of numbers
numbers_list = [1,2,3,5,6]
numbers_list

[1, 2, 3, 5, 6]

In [71]:
# Create a list of lists
# Here we have one big list and it has many lists inside it.
# Separate each list by a comma
list_of_list = [[1,2],[3,4],[5,7]]
list_of_list

[[1, 2], [3, 4], [5, 7]]

In [72]:
# List of different data types
# Let's create a list that contains numbers and strings
list_mix = ['Python',123,'SQL',2.6]
list_mix

['Python', 123, 'SQL', 2.6]

### Create Empty List
Empty list can be created by specifying open square brackets.

In [73]:
Empty_list = []
Empty_list

[]

### Length of a list
To get the number of items in a list, we use the len function.

In [74]:
# Initilize a list and get its length
List_of_items = ['Rice', 'Orange', 'Tomato', 'Kiwi']
len(List_of_items)

4

### Indexing and slicing a list
Here, indexing and slicing work the same as a string, but instead of grabbing a character, we grab items from the list. Let's see what does that means.

In [75]:
the_list = ['A','B','C','D','E']

### Indexing
Grab the element at index zero (The first element)

In [76]:
# Indexing the first element
the_list[0]

'A'

To Grab the last element we use the reverse index.

In [77]:
# Indexing the last element
the_list[-1]

'E'

### Slicing
Slicing here is the same as string slicing, we grab multiple items.

In [78]:
# Grab from the first element at index 1 to index 3 and not include it.
the_list[1:3]

['B', 'C']

In [79]:
# Grab from the first element to index 3 and not include it.
the_list[:3]

['A', 'B', 'C']

In [80]:
# Grab from the first element to the end of the list.
the_list[0:]

['A', 'B', 'C', 'D', 'E']

### Concat lists
Say we want to merge two lists into one list, let's firstly create two different lists.

In [81]:
# Create two different lists
list_1 = [1,2,3]
list_2 = [4,5,6]

In [82]:
# Concat the two lists using plus sign into a new list
new_list = list_1 + list_2

In [83]:
new_list

[1, 2, 3, 4, 5, 6]

### Change element in list
To change an entry in a list, you overwrite it by specifying its index.

In [84]:
# Initlize a list of foods
list_of_items = ['Rice', 'Orange', 'Tomato', 'Kiwi']

In [85]:
# Replace item zero 'rice' with a new item 'juice'
list_of_items[0] = "Juice"

In [86]:
list_of_items

['Juice', 'Orange', 'Tomato', 'Kiwi']

### Adding and deleting items

For adding item(s) to a list, we use these methods:

* `append()`: Adds an element to the end of a list. It takes one argument. It can be an element of any type (string, number, object, list, etc.) If you append another list onto a list, the first list is going to be a single object at the end of the list. That means lists can contain other lists in them.
* `extend()`: Adds a sequence of elements to the end of a list. It takes one argument. It iterates over its argument and adding each element to the list and extending the list. The length of the list increases by the number of elements in its argument.
* `insert()`: Adds an element into a specific position. It takes 2 arguments; index and value.

### Append a new item - Append()

To add a new element or item to the list, we use the Append() method. We do that by calling append after the list and pass the new elements.

In [87]:
# Add 'Chips' item to the list
list_of_items.append("Chips")

In [88]:
list_of_items

['Juice', 'Orange', 'Tomato', 'Kiwi', 'Chips']

### Extend the list - extend()
Let's extend the list with many items at once, by adding a new list to the original list.

In [109]:
list_of_animals.extend(['frog','bird'])

In [110]:
list_of_animals

['cat', 'dog', 'rabbit', 'owl', 'lion', 'frog', 'bird']

## Extend Vs Append
If you want to add an element to the end of a list you'll use **Append()** it will be added as it is, But **extend()** adds more than one item at a time with any type of data structure, it can be a list or tuple (We'll talk about that later).

In [111]:
# Example
number1 = [5,5]
number2 = [6,6]

new_number = [7,7]

print('After appending list')
number1.append(new_number)
print(number1)

print('After extending list')
number2.extend(new_number)
print(number2)

After appending list
[5, 5, [7, 7]]
After extending list
[6, 6, 7, 7]

### Insert a new item - insert()
Insert is different from append, because in insert you can specify the index to insert in.

In [89]:
# Insert 'Burger' to list at index position 1
list_of_items.insert(1,'Burger')

In [90]:
list_of_items

['Juice', 'Burger', 'Orange', 'Tomato', 'Kiwi', 'Chips']

### Pop item and remove item from list - pop()

To remove the last element, we use the pop method and specify the postition of elements to remove from the end.

**Pop()**

In [91]:
# Pop the first item from the end
list_of_items.pop(1)

'Burger'

In [92]:
list_of_items

['Juice', 'Orange', 'Tomato', 'Kiwi', 'Chips']

In [93]:
# Pop the second item from the end
list_of_items.pop(2)

'Tomato'

In [94]:
list_of_items

['Juice', 'Orange', 'Kiwi', 'Chips']

**Remove()**

Remove item from a list by passing the item name.

In [95]:
# Create a list
list_of_food = ['Juice', 'Tomato', 'Kiwi', 'Chips']

In [96]:
# Remove "Tomato" item
list_of_food.remove('Tomato')
list_of_food

['Juice', 'Kiwi', 'Chips']

### Sort list - sort()
Sort elements in a list by ascending or descending order.

In [97]:
# Create list of numbers
list_of_numbers = [2,1,6,4,3,5]

In [98]:
# Let's sort this numbers
# By default it will sort ascending
list_of_numbers.sort()

In [99]:
list_of_numbers

[1, 2, 3, 4, 5, 6]

In [100]:
# Sort numbers in descending order
# Set reverse to True
list_of_numbers.sort(reverse = True)

In [101]:
list_of_numbers

[6, 5, 4, 3, 2, 1]

### Count of an element in a list - count()
Count the number of occurence of an item in a list

In [102]:
# Create a list of animals
list_of_animals = ['cat', 'cat', 'dog', 'rabbit']

In [103]:
# Count number of cats
list_of_animals.count('cat')

2

### Reverse a list - reverse()
Reverse the elements of the list

In [104]:
# Create a list of numbers
list_of_numbers = [1,2,3,4]

In [105]:
# Reverse the list of numbers
list_of_numbers.reverse()

In [106]:
list_of_numbers

[4, 3, 2, 1]

### Find index of item - index()
Returns the index or position of an item in a list

In [107]:
list_of_animals = ['cat', 'dog', 'rabbit','owl','lion']
# Let's search for the index of dog
list_of_animals.index('dog')

1

In [108]:
# Search for dog in a range from index 0 to index 2
list_of_animals.index('dog',0,2)

1

### Clear the whole list - clear()
To clear and remove the whole list, we use the clear() method.

In [112]:
# Clear list of animals
list_of_animals.clear()
print(list_of_animals)

[]

### Copy a list - copy()
Copy method return a copy of the list to another list.

In [113]:
list_of_animals = ['frog','bird']
list_of_animals_copy = list_of_animals.copy()

In [114]:
list_of_animals_copy

['frog', 'bird']

## Dictionary

Dictionaries are unordered mapping to store different types of data, we saw how to store lists and locate the elements with their index or position in the list, but here in a dictionary, we use a key-value instead, which means that for each item in the dictionary will be given a key or label to grab it without needing to know its index location easily.

Dictionary is like a location where you can find the contact details of someone by knowing his or her name. In finding someone’s contact details through dictionary, the key must be unique in a situation where by two persons have the same name. Only immutable objects can be used for the keys of a dictionary. But immutable or mutable objects can be used for the values of the dictionary.

By using the notation d = [key1 : value1, key2 : value2], pairs of keys and values have been specified in a dictionary. It is important to note that pairs of keys are not necessarily in an ordered way, if there is need to make it ordered, it has to be sorted out by someone before using it.

Dictionaries use curly braces and colons to specify the keys and its values.

**Dictionaries vs Lists**

There are some similarities between lists and dictionaries:

* There are both mutable.
* There is no limit for size. They can both grow as needed.
* Like lists, dictionaries can also be nested and contain other dictionaries.

And let look at the difference of list and dictionaries:

* We can access items of list by index number, but in dictionaries, we access them via keys.

Unlike other data types, there is no built-in function to convert from other types to a dictionary.

In [68]:
# Dictionaries VS Lists
The_Dictionary = {'LetterA':'A','LetterB':'B'}
#Grab letter A by key
print(The_Dictionary['LetterA'])

The_list = ['A','B']
#Grab letter A by indexing
print(The_list[0])

A
A

### Construct a dictionary
We have curly braces, and inside we define the keys, and it should be strings and a colon followed by its value. This value can be any type. It can be integer, float, list, boolean, and dictionary.

In [116]:
# Let's create a dictionary of one key and value.
the_dictionary = {'key':'its value'}
the_dictionary

{'key': 'its value'}

In [117]:
# Create a dictionary with more than one key and value, by adding a comma after each one.
the_dictionary = {'key1':'its value1','key2':'its value2','key3':'its value3'}
the_dictionary

{'key1': 'its value1', 'key2': 'its value2', 'key3': 'its value3'}

### Accesing data from dictionary

Instead of using indexing and slicing to grab the items, we'll use the same square brackets we used in lists, but here we'll pass the key of an item, and it returns its value.

In [118]:
# Grab an item from dictionary by key
the_dictionary['key1']

'its value1'

**get() method**

We use the get method to grab the value of a given key. If nothing is found, you can specify a default value to be returned instead of an error.

In [119]:
# use get method and specify an error message or value to be returned if not found
the_dictionary.get('key4','Key not found')

'Key not found'

### Store lists in dictionary
A dictionary can hold any type of data, it can hold a list as a value for the key.

In [120]:
# Store list in dictionary
the_dictionary = {'key':[1,2,3]}
the_dictionary

{'key': [1, 2, 3]}

### Nested Dictionary
You can also store a dictionary in a dictionary

In [121]:
# Store a dictionary in another dictionary
the_dictionary = {'key1':{'dict2_key':100}}
the_dictionary

{'key1': {'dict2_key': 100}}

To get this 100 we do nested call

In [122]:
# We call the first key then the second key 
the_dictionary['key1']['dict2_key']

100

### Add new key-value pair

In [123]:
# Let's create a dictionary
the_dict = {'apple':3}
the_dict

{'apple': 3}

In [124]:
# Let's add another item to this dictionary
the_dict["Orange"] = 6

In [125]:
the_dict

{'apple': 3, 'Orange': 6}

### Overwrite an existing key-value pair
To change a value in the dictionary, we change it by its key and overwrite its value.

In [126]:
the_dict["Orange"] = 8

In [127]:
the_dict

{'apple': 3, 'Orange': 8}

### Get all the keys in dictionary - keys() 
If you want to see all the keys in a dictionary, you'll use the keys() method

In [128]:
# Get all the key
the_dict.keys()

dict_keys(['apple', 'Orange'])

### Get all the values in dictionary - values()
If you want to see all the values in a dictionary, you'll use the values() method

In [129]:
# Get all the values
the_dict.values()

dict_values([3, 8])

### Get all the keys and its values - items()
To get every key and its values in a dictionary, use the items() method

In [130]:
# Get all the keys and values
the_dict.items()

dict_items([('apple', 3), ('Orange', 8)])

So, we can reach all items by `items()`, to all keys by `keys()` and to all values by `values()`.

### Remove item - pop()

The `pop()` method removes an item from dictionary by passing the key name. We can use pop() to remove an item from the dictionary. If the particular key is in the dictionary, it removes it and returns its value, else returns default. If default is not given and the key is not in the dictionary, a KeyError is raised.

In [131]:
the_dict = {'apple':3,'oranges':5,'kiwi':4}
# Pop apple and store its value
popped_item = the_dict.pop('apple')
print(the_dict)
print(popped_item)

{'oranges': 5, 'kiwi': 4}
3

### Remove the last element - popitem()

This takes no arguments. It just removes the last item that was inserted and returns that item.

In [132]:
the_dict = {'apple':3,'oranges':5,'kiwi':4}
# Pop the last element and store its value
popped_item = the_dict.popitem()
print(the_dict)
print(popped_item)

{'apple': 3, 'oranges': 5}
('kiwi', 4)

### Update the dictionary - update()
Suppose you have a dictionary and want to update its values from another dictionary with the same keys, you'll use the update method. Let's see how we can do that.

In [133]:
dict_1 = {'one':1,'two':3}
dict_2 = {'two':2}

# Update dict_1 from dict_2
dict_1.update(dict_2)
dict_1

{'one': 1, 'two': 2}

## Tuple

- Tuples is similiar to lists, the difference is the immutability in tuples, what immutable means is that once an element is added in a tuple it can't be changed or reassigned.
- Tuples uses parenthesis `()`
- **Example**: This is how a tuple looks like: foodlist = ("Apple","Orange","Tomato","Kiwi")

As we said tuples is very similar to lists. So, the question is now why we need tuple? The answer is easy, we should choose tuples because it is much faster than lists.

Let's create a new tuple and see how it looks.

In [134]:
# Create a tuple of numbers
a_tuple = (1,2,3)
a_tuple

(1, 2, 3)

Bu it is also possible to create tuples by using commas, without parentheses.

In [ ]:
my_tuple = 1, 4, 3, 4, 5, 6, 7, 4
print(type(my_tuple))

In [135]:
# Create a tuple of mixed data types
mixed_tuple = ('Cat',2,4.3,'dog')
mixed_tuple

('Cat', 2, 4.3, 'dog')

And just like list we can indexing and slicing the tuple

### Concatenating a tuple

Tuples can be merged with each other as easily as the addition operation.

In [69]:
a=(1,3,5) 
b=(6,8,9)

c = a + b
print(c)

(1, 3, 5, 6, 8, 9)

### Indexing a tuple

In [136]:
# Indexing tuple
# Grab element zero
mixed_tuple[0]

'Cat'

In [137]:
# Grab element one
mixed_tuple[1]

2

### Slicing a tuple

In [138]:
# Slicing tuple
# Grab first two elements
mixed_tuple[0:2]

('Cat', 2)

In [139]:
# Grab from element 1 to the end
mixed_tuple[1:]

(2, 4.3, 'dog')

### Conversion to tuple

It is possible to convert a list or dictionary to tuple. All we need is to use `tuple()` function.

In [70]:
my_list = ["apple", "banana", "grapes"]
my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple), '\n')

my_dict = {1:"a", 2:"b", 3:"c", 4:"e", 5:"e"}
my_tuple = tuple(my_dict.values())
print(my_tuple, '\n')

('apple', 'banana', 'grapes')
<class 'tuple'>

('a', 'b', 'c', 'e', 'e')

### Lists vs Tuples

As we have discussed the main difference between lists and tuple is the immutability. So, in tuples after you add items you can't change or overwrite this items, but in lists you can do that.

In [140]:
# Lists Vs Tuples
# Define a List and overwrite the first item
the_list = ['Apple','Oranges']
the_list[0] = 'carrot'
print(the_list)

# Define a tuple and overwrite the first item
the_tuple = ('Apple','Oranges')
the_tuple[0] = 'carrot'
print(the_tuple)
# It will giver error when reassigning a tuple

['carrot', 'Oranges']

TypeError: 'tuple' object does not support item assignment

## Set

Sets are unordered collection of unique elements, for example the object cannot appear more than one time. Let's see what does that mean.

To create a set, simply type the items in brackets in `set()` or write the item in curly `brackets {}`.

In [74]:
fruits = set(['apple', 'pear', 'orange'])
print(fruits)
print(type(fruits), '\n')

new_fruits = {'cherry', 'sour cherry', 'kiwi'}
print(new_fruits)
print(type(new_fruits), '\n')

{'apple', 'orange', 'pear'}
<class 'set'>

{'cherry', 'kiwi', 'sour cherry'}
<class 'set'>

### Add an Item

Using `add()` we can add item to the set. It looks like a dictionary but it is not, becuase it doesn't have key-value pairs

In [75]:
fruits.add('banana')
fruits

{'apple', 'banana', 'orange', 'pear'}

The easiest way to use a set is by converting a list to a set instead of just adding values.

In [76]:
# Lets cast a list to a set and get unique values only
number_list = [1,1,1,1,4,5,5,4,2,2,2]
set(number_list)

{1, 2, 4, 5}

### Remove an item from set

Both `discard()` and `remove()` functions remove an item from set. While `remove()` raises `KeyError` if the item is not contained in the set, `discard()` ignores it.

In [77]:
# Let's create a set
the_list = ['car','chair','chair','table','window','table']
our_set = set(the_list)
our_set

{'car', 'chair', 'table', 'window'}

In [144]:
# Now, remove car
our_set.remove('car')
our_set

{'chair', 'table', 'window'}

## 1.7.2 Pop the last element - pop()
pop removes the last element from the set

In [78]:
print('Before '+ str(our_set))
our_set.pop()
print('After '+ str(our_set))

Before {'window', 'chair', 'table', 'car'}
After {'chair', 'table', 'car'}

### Union

This method returns a new set with elements from the set and all others.

In [79]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.union(set2))
{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

### Intersection

This method returns a new set with elements common to the set and all others.

In [80]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.intersection(set2))
{4, 5}

{4, 5}

{4, 5}

### Difference

This method returns a new set with elements in the set that are not in the others.

In [81]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.difference(set2))
{1, 2, 3}

{1, 2, 3}

{1, 2, 3}

## Conditional Statements

In this part of this lesson, we will learn how to code conditional statements in Python. Conditional statements are decision making process that enable programs to contain statements that may or may not be executed when the program runs. We use three terms to specify conditional expressions in Python:

* If 
* elif
* else

### If Statement

When we want to execute a particular code based on a specific condition, we use the if,elif, and else statements. For example, **if** light is turned on **then** turn off after 10 minutes.


This is called the control flow. The control flow syntax uses colons and indentation to make the flow works.

Syntax of a basic if statement:

Here, we say `if` a condition is true then excute your code. Notice that the blue line is intendent further than the if statement, so anything intendent will be excuted.

    if condition:
        statement

In summary, if statements have two parts: `condition` and `action to take`. The if statement must be followed by a colon (:) and the action to be taken must be indented.

In [83]:
if 2 > 1:
    print('Two greater than one')

Two greater than one

In [85]:
today = "Wednesday"
if today == "Wednesday":
    print ('I am off today')

I am off today

In [92]:
a = 20
b = 30
if b > a:
    print("b is greater than a")

b is greater than a

### IF-Else Statement

You can add an else statement, if the first condition is true then we excute statement else if it's not true then it will passed to the else code.

You can check multiple conditions using **elif** statement before the **else** statement.

    if condition:
        statement
    else (condition):
        statement

In [147]:
if 2 < 1:
    print('One greater than two')
else:
    print('Two greater than one')

Two greater than one

In [91]:
a = 500
b = 45
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [86]:
num = int(input("Enter a number: "))

if num > 10:   
    print ("Number is greater than 10")
    
else :
    print ("Number is not greater than 10")

Enter a number: 15
Number is greater than 10

### ELIF Statement

Using if statement, we have defined the required actions to be taken when a certain condition is fulfilled. What if the condition is not met? elif is one of the statements that allows us to do this. elif, which is an abbreviation of else if, enables us to determine new conditions if the previous condition has not been fulfilled.

 Briefly, an elif statement is used to execute exactly one of several alternatives. The block of code starts with an if statement, continue with one or more elif statements depending on the case, finally followed by an else part depending on the case again.

Let's see how `elif` works in Python:

In [87]:
if 2 < 1:
    print('One greater than two')
elif 2 < 3:
    print('Two less than three')
else:
    print('Nothing from the above')

Two less than three

In [89]:
hungry = True
if hungry:
    print('Eat food')
else:
    print("don't eat")

Eat food

In [90]:
location = 'USA'
if location == 'USA':
    print('Deliver to USA')
elif location == 'UK':
    print("We don't deliver to UK")

Deliver to USA

### Nested If

You can have if statements inside if statements, this is called nested if statements.

    if condition: 
        statement 
        if condition: 
            statement
    else:     
        statement

In [94]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
else:
    print("but not above 20.")

Above ten,
and also above 20!

### Pass Statement

The last thing that we see in conditional statement is the `pass Statement`.
If statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [98]:
a = 50
b = 100

if b > a:
    pass

## For loops

Suppose you have a list and want to iterate over all the elements, we can execute code for each iteration in the loop.
We can iterate over a list, dictionary, string, and many objects.
For example, we can iterate over every character in a string, or on every item or key in a list or dictionary.

In [99]:
city = ["Tokyo", "Washington", "London"]
for x in city:
    print(x)

Tokyo
Washington
London

Here for loop returns every items in the city variable. Let's continue with one more example:

In [100]:
my_list = ['car','bike','taxi','bus']
for item in my_list:
    print(item)

car
bike
taxi
bus

Now, we combine for loops and if statement, which is very common in programming:

In [102]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for number in my_list:
    if number % 2 == 0:
        print(number)

2
4
6
8
10

Even strings are iterable objects, they contain a sequence of characters:

In [153]:
string = 'python'
for letter in string:
    print(letter)

p
y
t
h
o
n

In [103]:
for x in "washington.dc":
    print(x)

w
a
s
h
i
n
g
t
o
n
.
d
c

We are not required to use a variable in for loop. We use'_' instead of assigning a variable if we're not going to use it.

In [105]:
for _ in 'hello':
    print('hello')

hello
hello
hello
hello
hello

In [106]:
# Iterate over a list of tuples
list_of_tuples = [(1,2),(4,5),(1,4),(6,4),(2,1)]
for item in list_of_tuples:
    print(item)

(1, 2)
(4, 5)
(1, 4)
(6, 4)
(2, 1)

In [107]:
# Iterate over the tuples it self
list_of_tuples = [(1,2),(4,5),(1,4),(6,4),(2,1)]
for (item1,item2) in list_of_tuples:
    print(item1)
    print(item2)

1
2
4
5
1
4
6
4
2
1

### CONDITIONAL (CASE) STATEMENT WITH USE OF A DICTIONARY

If we have many conditions to control, nested if statements or many elif blocks may become hard to manage. Some programming languages have switch-case built-in functions for this.

But in Python, we need to define it ourselves and we do it with a dictionary. In dictionaries, boolean expressions can be used as keys and user-defined function names as values. But, there are some points to notice:

Result has the last `False` and `True` values both. We need to pay attention to sequences (may be ascending or descending) not to have unexpected results. Another way to avoid this, we can define a range.

If we use boolean statements instead of exact values, variable to use must be assigned before the dictionary and we need to specify for the desired value with `[True]`.
The general logical flow of case statement is similar to if-elif statement.

In [157]:
the_dict = {'name':'john',
           'age':12}
# Iterate over the keys only using keys() method
for key in the_dict.keys():
    print(key)
print('__________')
# Iterate over the values ony using the values() method
for values in the_dict.values():
    print(values)

name
age
__________
john
12

### The Break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [109]:
city = ["Tokyo", "Washington", "London"]
for x in city:
    print(x)
    if x == "Washington":
        break

Tokyo
Washington

### The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [112]:
city = ["Tokyo", "Washington", "London"]
for x in city:
    if x == "Washington":
        continue
    print(x)

Tokyo
London

### The range() Function
To loop through a set of code a specified number of times, we can use the `range()` function,To loop through a set of code a specified number of times, we can use the range() function,

`range()` is a frequent used function in `for loop`. What we can do with `range` is listed below:

In [113]:
# Example using range() fucntion
for x in range(12):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11

We can play with the `range()` function and define the start and end points. In the following example, start and end points are 2 and 10, respectively.

In [114]:
for x in range(2, 10):
    print(x)

2
3
4
5
6
7
8
9

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment. Let's now define the increment by 3:

In [115]:
for x in range(2, 40, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29
32
35
38

As a final example, it is better to combine what we have learned so far. In this example we can the prime numbers between 1 and 100.

In [116]:
sum_of_primes=0

for x in range(1,101):
    count=0
    
    if x<=2:
        sum_of_primes+=x
        
    elif x%2!=0:
        for y in range(2,x//2):
            if (x%y)==0:
                count+=1
                
        if count==0:
            sum_of_primes+=x
            
print(sum_of_primes)

1061

## While loops

A `while` loop causes one or more statements to execute as long as a condition is True. Similar to if statement, a while loop also contains a condition that is followed by a body of statements indented. The only condition to execute this statement is to have True with while loop condition.

The while loop allows the specified operations to be performed as long as the condition expression is True. We do not use this loop as often as for loop, but it is still worth understanding. While you can call for loop on a specific data (iterable) structure, we can call while loop with any boolean expressions:

In [117]:
x = 0
while x<5:
    print(x)
    # update x value
    x = x+1

0
1
2
3
4

Let's print i as long as i is less than 10. Please note that increment i otherwise the loop will continue forever in an never ending loop.

In [118]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

### break, continue, pass
`break`, `continue`, and `pass` are used in any loop to add more functionality to the loop.
* Break: If you want to break the loop in the middle.
* Continue: Means to skip this iteration.
* Pass: Do nothing, used when there is no code to execute.

### Break

Break the while loop when x equals to 2

In [119]:
x = 0
while x < 5:
    print(x)
    if x == 2:
        break
    x = x + 1

0
1
2

### Pass

Let's say you have a list and want to iterate over it, but don't have a statement yet to execute, then you use the pass command. Put differently, you don't write the implementation of a for loop but you want to implement it in the future then `pass` is your function.

In [120]:
x = [1,2,3]
for item in x:
    pass

### Continue
Let's say you have a string and want to print all the letters in it except letter 't', then we use continue to skip it.

In [121]:
name = 'python'
for letter in name:
    if letter == 't':
        continue
    print(letter)
# as you can see in the output the letter 't' doesn't exists

p
y
h
o
n

## Python Functions

It is necessary to have a way to reuse aand store the code that we generates. Function exactly does this in Python. It serves as a mean of basic units of reusable code. In this part, we will look at how functions work within Python.

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function.A function can return data as a result.

The main objectives of the `functions`are:
    * After writing the code, it makes it easire to call.
    * Functions allow us to test on specific part of the solution
    * Once we are done writing the code, we can hide the details.

In Python, we have two types of functions: `Built-in` and `Customize`. So far, we have learned some built-in functions such as `print()`, `sum ()`, `len()`.

Here we will learn customized functions in Python. Function start with the `def` statement.
Then the name of the function comes. Using this name, we can access our function elsewhere in the code.

Functions take arguments which are inputs given by a user inside the parentheses when the function is called. The function receives these argument values that are included inside the parentheses when the function is defined. The number of parameters in a function’s definition indicates the number of arguments that must be supplied when the function is called.

After closing the parenthesis, we finish the line with `colon(:)` and write the next operations starting with the indentation. We specify the output of the function with the return command.

So, the basic general format of the functions turns out:

    def <name of the function>(arg1, arg2,... argN):
        <statements>

###  The def Statement and Parameter

The def statement is a most way to introduce a function. `function-name` is an arbitrary selection of the programmer. It is an identifier. `parameters` is, on the other hand, an optional list of identifiers, known as formal parameters. It is supplied as arguments from users when the function is called. When a function includes arguments, parameters contain one or more comma separated arguments.

### The return Statement

Inside a body function, there is a statement which completes the function which is `return` statement and this statement can be optionally followed by and expression.

A function returns None if it terminates by reaching the end of its body or by executing a return statement that has no expression.

### Calling a Function

A function is called as:

    function_name(arguments)

`function_name`is a function name of a user's choice. The parentheses represents operation of calling function . Arguments, in the paranthesis, is a comma separated one or more expressions, providing values for the function. When a function is called, argument values obey the parameters, the function body executes, and the value is returned.

### Creating a Function
In Python a function is defined using the def keyword:

In [122]:
def my_function():
    print("Hello from a function")

### Calling a Function
To call a function, use the function name followed by parenthesis():

In [123]:
# Example
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

### Passing arguments to a function

Information can be passed into functions as arguments.Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [124]:
def my_function(fname):
    print(fname + " paul")

my_function("John")
my_function("Peter")
my_function("sam")

John paul
Peter paul
sam paul

In [125]:
# Example - Function with multiple arguments. 

def my_function(fname, Lastname):
    
    print(fname + " Peter " + Lastname)

my_function("John", "Paul")

John Peter Paul

Now, let's see the potential mistake that we can do in running a function:

In [126]:
def my_function(fname, Lastname):
    print(fname + " " + Lastname)

my_function("John")

TypeError: my_function() missing 1 required positional argument: 'Lastname'

This function expects 2 arguments, but gets only 1 and will end in an error

### Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a `*`
before the parameter name in the function definition.
This way the function will receive a tuple of arguments, and can access the items accordingly.

In [129]:
def my_function(*kids):
    print("The youngest child is " + kids[2]) 
my_function("John", "Peter", "Sam")

The youngest child is Sam

 Inside the square bracket, we have 2, which shows us the index of the argument that we call.

### Keyword Arguments
You can also send arguments with the `key = value` syntax.This way the order of the arguments does not matter.

In [131]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "john", child2 = "Peter", child3 = "Paul")

The youngest child is Paul

### Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: `**` before the parameter name in the function definition.This way the function will receive a dictionary of arguments, and can access the items accordingly

In [132]:
# Example - If the number of keyword arguments is unknown, add a double ** before the parameter name.

def my_function(**kid):
    print("His last name is " + kid["Lastname"])

my_function(fname = "John", Lastname = "peter")

His last name is peter

### Default Parameter Value
You can call the function without argument and make it uses the default value.

In [133]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()         # here the country defaults to "Norway"
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

### Passing a List as an Argument
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

In [134]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

### Return Values
To let a function return a value, use the return statement.

In [135]:
def my_function(x):
    return 10 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

30
50
90

### The pass Statement
Function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [138]:
def myfunction():
    pass

## Python Lambda
A lambda function is a small anonymous function.A lambda function can take any number of arguments, but can only have one expression.

**Syntax:**

lambda arguments : expression

In [ ]:
#Example - Add 20 to argument a, and return the result.

x = lambda a : a + 20
print(x(10))

In [ ]:
# Example - Lambda functions with multiple arguments.

x = lambda a, b : a * b  # Multiply argument a with argument b and return the result
print(x(10, 20))

In [ ]:
# Example - Summarize argument a, b, and c and return the result

x = lambda a, b, c : a + b + c
print(x(10, 20, 30))

## Power of Lambda: Anonymous Function inside another function.
The power of lambda is better shown when you use them as an anonymous function inside another function.

In [137]:
#Example -Say you have a function myfunc() definition that takes one argument, 
# and that argument will be added with an unknown number:

def myfunc(n):
    return lambda a : a + n
mySum = myfunc(5)
print(mySum(10))
print(mySum(20))
print(mySum(30))

15
25
35

Let's do more exercises to digest the concept of function because we are going to make use of it a lot along the way.

As an example, let's calculate the length of the hypotenuse of a right triangle, whose perpendicular edges are given as parameters, by writing a function where we will name it hip:

In [139]:
def hip(edge_1, edge_2):
    
    hypotenuse = ((edge_1**2) + (edge_2**2))**0.5 
    
    return hypotenuse

In [140]:
print(hip(3,4))
print(hip(6,8))
print(hip(10,17.3))

5.0
10.0
19.982242116439288

As another example, let's write a function that lists the square of natural numbers less than a number entered:

In [141]:
def little_square_to_list(x):
    
    little_list=[]
    for y in range(x):
        little_list.append(y**2)
    
    return little_list

print (little_square_to_list(15))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

## File Handling

File handling is an important part of any application.Python has several functions for creating, reading, updating, and deleting files.

The key function for working with files in Python is the `open()` function.

The `open()` function takes two parameters; `filename`, and `mode`.

**There are four different methods (modes) for opening a file:**

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

### Open

**Syntax:** To open a file for reading it is enough to specify the name of the file but make sure the file exists in your directory, or else you will get an error.

In [ ]:
f = open("demofile.txt")

As `r` for read, and `t` for text are the default values, you do not need to specify file type .txt`

In [ ]:
f = open("demofile", "rt")

### Read
Reads an existing file

In [ ]:
f = open("demofile.txt", "r")
print(f.read())

Open a file on a different location and read.

In [ ]:
f = open("D:\\myfiles\welcome.txt", "r")
print(f.read())

### Read Only Parts of the File

By default the `read()` method returns the whole text, but you can also specify how many characters you want to return:

In [ ]:
#Example
f = open("demofile.txt", "r")
print(f.read(5)) # reads the first 5 elements of a file

### Read Lines

You can return one line by using the `readline()` method.

Read the first line:

In [ ]:
# Example1 - 
f = open("demofile.txt", "r")
print(f.readline())

In [ ]:
Read the two lines only

In [ ]:
f = open("demofile.txt", "r")
print(f.readline())
print(f.readline())

Read the file line by line by looping. The 'r' mode reads the file even though read is not specified.

In [ ]:
f = open("demofile.txt", "r")
for x in f:
    print(x)

### Close Files

It is a good practice to always close the file when you are done with it.  You should always close your files, in some cases, due to buffering, changes made to a file may not show until you close the file.

In [142]:
f = open("demofile.txt", "r")
print(f.readline())
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'

### Write/Create

To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exist

"a" - Append - will create a file if the specified file does not exist

"w" - Write - will create a file if the specified file does not exist

#### Write to an Existing File

To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

Create a file called `myfile.txt`. `x` will create a file, returns an error if the file exist or empty file will be created.

In [ ]:
f = open("myfile.txt", "x")

Open the file `demofile2.txt` and append content to the file:

In [ ]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

Open and read the file after the appending:

In [143]:
f = open("demofile2.txt", "r")
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'demofile2.txt'

Open the file `demofile3.txt` and overwrite the content:

In [ ]:
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

Open and read the file after the appending:

In [ ]:
f = open("demofile3.txt", "r")
print(f.read())

### Delete

To delete a file, you must import the OS module, and run its `os.remove()` function:

In [ ]:
import os 
os.remove("demofile3.txt")

Check if file exists, then delete it. To avoid getting an error, you might want to check if the file exists before you try to delete it.

In [ ]:
import os
if os.path.exists("demofile.txt"):
    os.remove("demofile.txt")
else:
    print("The file does not exist")

## Errors Handling

First, let's talk about programmer errors. Errors arising from the programmer are obvious errors due to the carelessness of the person who wrote the program directly. For example, followint code contains a programmer error:

In [6]:
print('Hello, World'

SyntaxError: unexpected EOF while parsing (<ipython-input-6-c48ad663a31e>, line 1)

The part that concerns us in this error message is in the last sentence: `unexpected EOF while parsing`.

These errors arise from the wrong usage of the programming language or, in the simplest form, forgetting something crucial. Programmer's errors usually occur in the form of SyntaxError. These errors are mostly noticed by the programmer and are corrected by the programmer. Detecting such errors is easy compared to other errors. Because such errors prevent your program from working.

Program flaws, in other words `bugs`, are much more complex. Defective programs often work without any errors. However, the outputs produced by the program are not as you expected. For example, you may have made a formula error in the program you wrote. In this case, your program runs as if there is no problem, but since the formula is incorrect, the results of the calculations are wrong. For example, the following code contains a flaw like the above:

In [7]:
number1 = input("Enter first number: ")
number2 = input("Enter second number: ")
print(number1, "+", number2, "=", number1 + number2)

Enter first number: 10
Enter second number: 5
10 + 5 = 105

In ht eabove-given code, when the user inputs data, the code do not combine the string but the character. Since such a code does not fail during operation, it is very difficult to detect the problem here, especially in large block of code. In other words, the program that you think is working properly may actually contain a secret from an undercover bug.

### Exceptions

`Exceptions` are the errors encountered during program execution. These predetermined errors can be eliminated. Thus, the program can be prevented from stopping due to an error. For this we use the try-except statement:

    try:
        needs to be done
    except:
        what happens when exception occurs

Python does the operations inside the `try` function, when an error arises, an operation defined in the `except` part is executed:

In [12]:
try:
    x=input("Enter a number: ")
    print (x**x)
except:
    print ("Please type a number only ! ")

Please type a number only !
Enter a number: Adam

If we know or guess what kind of error we may encounter, different actions can be taken depending on the error:

    except IOError:
        print('A problem occured reading a file.')

    except ValueError:
        print('Non-numeric data in the folder.')

    except ImportError:
        print "No specified module."

    except EOFError:
        print('End of file exception error !')

    except KeyboardInterrupt:
        print('KeyboardInterrupt..')

    except:
        print('An error occurred.')

In order to grasp the exception error better, let's go over the `bug` we disccussed before:

In [17]:
try:
    number1 = input("Enter first number: ")
    number2 = input("Enter second number: ")
    print(number1, "+", number2, "=", number1 + number2)
except ValueError:
    print("Please Enter a number!")

Enter first number: 10
Enter second number: 5
10 + 5 = 105

We know that if we want to convert a data into numbers, our program crashes if the user enters a string instead of a value. Therefore, the `int (first_number)` and `int (second_number)` codes are likely to generate errors based on the type of data the user enters. So we get these codes that we knew were going to make mistakes here.

As we know, the error is generated if the user enters inappropriate data during data conversion is a `ValueError`. Therefore, the name of the error type that we type in the except block will be `ValueError`. So, we write the following lines to catch the error named `ValueError`:

    except ValueError:
        print("Please enter a number only!")

Here we specify the error with these codes:
If you are confronted with a `ValueError` during the processes specified in the `try` blog, ignore it and do not show the error message to the user under normal conditions. Instead, show this message: `"Please enter a number only!"`.

Notice how we expressed the order we translated into English above in Python. Basically, we are confronted with such a structure:

In [ ]:
try:
    codes that is likely to produce error
except error_name:
    operation to be done in case of an error

If we do not specify anything after the `except` statement, we can use the pass command:

In [14]:
try:
    x=input("Enter a number : ")
    print (x**x)
except:
    pass

print ("' we have written {}' but it is still processing".format(x))

Enter a number : Adam
' we have written Adam' but it is still processing

In [ ]:
We can extract the error and print it if we want to:

In [15]:
try:
    x=1/0
except Exception as e:
    print ("'{}' error occurred! ".format(e))

'division by zero' error occurred!

Let's practice and see how we handle the errors in Python.

In [48]:
def shout_echo(word1, echo=1):
    echo_word = ""
    shout_words = ""
    try:
    # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + '!!!'
    except:
    # Print error message
        print("word1 must be a string and echo must be an integer.")
    return shout_words

In [49]:
shout_echo("particle","accelerator")

word1 must be a string and echo must be an integer.

''

In [ ]:
If we define `echo` as a numerical input:

In [50]:
shout_echo("particle",3)

'particleparticleparticle!!!'

In [28]:
def handle_error_by_returning_none(input_data):
    try:
        return int(input_data)
    except ValueError:
        print('Wrong data type')

In [31]:
handle_error_by_returning_none('Adam')

Wrong data type

In [30]:
handle_error_by_returning_none(2)

2

# Pyton Libraries

## Numpy

Numpy stands for Numerical Python. Numpy is a python library that contains multidimensional array of objects and loads of routines that are used to process array. Mathematical and logical tasks are being carried out using Numpy.

**Why Use Numpy?**

In python, there is there are lists that serve the purpose of an Array but they are slow to process, Numpy aims to provide an array object that is up to 50 times faster than a traditional python list.

The array object in NumPy is called ndarray, it provides a lot of supporting functions that makes working with ndarray easy. Numpy arrays are stored at one continuous place in the memory, unlike the lists, it therefore processes, access and manipulate data efficiently.

Operations Performed Using Numpy

* Mathematical and Logical Operations on Array
* Linear Algebra
* Fourier Transformation and Routines for Shape Manipulation

**Installation of Numpy**

A simple approach to installing Numpy is to install by using Python package installer.
The installation can be done in Python package installer as this: 
    `pip install numpy` and press the `Enter` key.

In [ ]:
After you've installed numpy you need to import numpy into your jupyter notebook.

In [5]:
import numpy as np

### Numpy Basics

The first thing to know is how to initilize an array. There are three main creating ways:

* Creating from other Python structures (e.g., lists, tuples)
* Creating by numpy array creation objects (e.g., arange, ones, zeros, etc.)
8 Reading arrays from disk

We create an array by using the shortcut we created `np` and call the 'array' method and pass a 1-D list.

In [6]:
the_array = np.array([1,2,3])
the_array

array([1, 2, 3])

Let's see the type of the elements of these arrays. We can do it by dtype attribute.

In [7]:
print("Type of the_array : ", type(the_array))
print("Type of elements of the_array : ", the_array.dtype)

Type of the_array :  <class 'numpy.ndarray'>
Type of elements of the_array :  int64

Numpy allows us to create a 2-D or 3-D array like this:

In [4]:
two_D = np.array([[1,2,3],
                  [3,4,5]])
two_D

array([[1, 2, 3],
       [3, 4, 5]])

In [5]:
three_D = np.array([[1,2,3],
                    [3,4,5],
                    [3,8,5]])
three_D

array([[1, 2, 3],
       [3, 4, 5],
       [3, 8, 5]])

### Get shape of an array

Knowing the shape of arrays is essential. Because in the calculations we make, the dimensions should be compatible with each other. We can learn the size of an array with `shape()` method. This method returns a tuple, first value as row and second value as column.

We use `ndim` method to get the dimension of an array and `shape` to find the number of rows and columns in an array.

In [6]:
print(two_D.ndim)

2

In [7]:
print(three_D.shape)

(3, 3)

Shape of the 3-D array is (3,3) which means 3 rows and 3 columns.

### Change shape of an array

If we want to reshape an array to any shape we want, we use the **reshape** method.

In [22]:
the_array = np.array([[1,5,6,1],[2,2,6,5]])
the_array

array([[1, 5, 6, 1],
       [2, 2, 6, 5]])

`the_array` has 2 rows and 4 columns. Let's convert it to a vector with 8 rows:

In [23]:
the_array = the_array.reshape(8,1)
the_array

array([[1],
       [5],
       [6],
       [1],
       [2],
       [2],
       [6],
       [5]])

Or we can create a matrix with different dimension using `reshape()`:

In [24]:
the_array = the_array.reshape(4,2)
the_array

array([[1, 5],
       [6, 1],
       [2, 2],
       [6, 5]])

Numpy has special type of arrays such as:
    * np.ones()
    * np.eye()
    * np.full()

If you want to create a vector with 10 zero entries:

In [20]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In the preceding example, we create zero vector. Is it possible to create zero matrix, the answer is yes:

In [17]:
np.zeros((5,5))

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

How about creating an array with entries full of ones:

In [16]:
np.ones((5,5))

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

Here, we create 5x5 matrix with entries of ones.

The other special type of array is `eye()`, which form a diagonal matrix. Diagonal matrix has entries on its diagonal and no entries on ots off-diagonal.

In [15]:
np.eye(3,3)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

An it is time to create a matrix with user defined entry. `full()` allows us to do that. In the following example, we define 5x5 matrix with full of sixes:

In [21]:
np.full((5,5),6)

array([[6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6]])

### Accessing elements in array

In [70]:
the_array = np.array([[1,2,3,4,5],[6,7,8,9,10]])
the_array

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

If we wish to choose a specific element,  we use a notation of the square brackets and specify the location of these element (its row and column). Let's say we want to get number '7'. It's located in the second row and second column, we start indexing from index 0.

In [71]:
the_array[1][1]

7

In [ ]:
Or alternatively,

In [73]:
the_array[1,1]

7

In [ ]:
We can get the whole row, leaving the column part blank.

In [76]:
the_array[0,]

array([1, 2, 3, 4, 5])

Similarly, we can select the entire column by putting `:` in row index. `:` here represents all columns.

In [77]:
the_array[0, :]

array([1, 2, 3, 4, 5])

Get the first column and all rows.

In [79]:
the_array[:,0]

array([1, 6])

You can select multiple rows or columns by specifying a range with `:`.

In [81]:
the_array[0:2, 1:3]

array([[2, 3],
       [7, 8]])

### Change a specific element

Array is mutable in the sense that we can change the entry that is previously defined. Let's change number 7 in the array to be 9

In [82]:
the_array[1][1] = 9
the_array

array([[ 1,  2,  3,  4,  5],
       [ 6,  9,  8,  9, 10]])

Change an entire first column with 5

In [176]:

the_array[:,0] = 5
the_array

array([[ 5,  2,  3,  4,  5],
       [ 5,  9,  8,  9, 10]])

Differently, we can update both row and column. In the following example, we update the entries with 0 starting from second row and columns

In [84]:
the_array[1:, 1:] = 0
the_array

array([[1, 2, 3, 4, 5],
       [6, 0, 0, 0, 0]])

### Creating an Array of Sequence of Numbers

NumPy provides the method `range()` like Python built-in range, but this method returns an array.

In [25]:
range_first = range(5)
print(range_)
print(type(range_))

range(0, 5)
<class 'range'>

Please note that 5 is not included as we show below:

In [30]:
list(range(5))

[0, 1, 2, 3, 4]

Let's define the starting point:

In [26]:
range_second = range(1,5) 
range_second

range(1, 5)

Now, let'd dig into more and define starting point and the length of step taken towards the end point. In the following example, function starts at 1 move by 2:

In [29]:
list(range(1,5,2) )

[1, 3]

### Applying Mathematics With NumPy
Numpy can do mathematics operations on arrays in a fast way.

### Adding

In [184]:
the_array = np.array([1,1,1,1,1])
the_array

array([1, 1, 1, 1, 1])

In [185]:
# Add 2 to the array
the_array = the_array + 2
the_array

array([3, 3, 3, 3, 3])

In [186]:
# Subtract 2 from each element
the_array = the_array - 2
the_array

array([1, 1, 1, 1, 1])

In [187]:
# Multiply by 2
the_array = the_array * 2
the_array

array([2, 2, 2, 2, 2])

In [188]:
# Divide by 2
the_array = the_array / 2
the_array

array([1., 1., 1., 1., 1.])

In [189]:
# Adding two array
a = np.array([1,1,1])
b = np.array([1,1,1])
c = a + b
c

array([2, 2, 2])

In [190]:
# Sine and Cosine
np.cos(c)

array([-0.41614684, -0.41614684, -0.41614684])

In [191]:
np.sin(c)

array([0.90929743, 0.90929743, 0.90929743])

**Universal Functions**

Universal function, short for `ufunc`, is a function that performs elementwise operations on data in ndarrays. Main ufuncs are:

* abs
* sqrt
* exp
* log
* square
* floor
* ceil
* rint
* sign

To do some practices, let's define some variables:

In [33]:
x=5
y=8.6
z=-3

`abs()` function calculates the absolute value of the entry:

In [34]:
np.abs(z)

3

`sqrt()` function gives us the square root of the variable x as follows:

In [36]:
np.sqrt(x)

2.23606797749979

If you want to calculate the exponential or logarithmic value of an entry, you can use `np.exp()` and `np.log()`, respectively.

In [39]:
print(np.exp(x))
print(np.log(x))

148.4131591025766
1.6094379124341003

Computing square of an item is easy in numpy:

In [42]:
np.square(x)

25

Sometimes, we want to round up or down the value to the nearest integer. y takes the value of 8 and `np.ceil()` round it up to 9, which is nearest integer. `np.floor()` on the other hand round the value down to nearest integer.

In [43]:
print(np.ceil(y))
print(np.floor(y))

9.0
8.0

Differently from `np.ceil()` and `np.round()`, `np.rint()` round elements of the array to the nearest integer.

In [46]:
print(np.rint(8.51))
print(np.rint(8.2))

9.0
8.0

`np.sign()` returns the sign of a number as either 1 or -1

In [48]:
np.sign(z)

-1

### Aggregate Function

In Numpy, we have many aggregate functions to deal with a single-dimensional or multi-dimensional array. The main aggregate functions are:

* sum
* min
* max
* argmin
* argmax 
* np.std
* np.var
* np.median
* np.percentile

`sum()` function calculates the summation of the entries. For the sake of practice, let's generate a random number with 100 entries and calcuate its sum.

In [55]:
random_number = np.random.random(100)
random_number

array([0.47679893, 0.28549548, 0.17071043, 0.44239284, 0.11274569,
       0.6492762 , 0.51759009, 0.11998966, 0.99041219, 0.01420834,
       0.88537119, 0.43425769, 0.06752672, 0.68520369, 0.81695895,
       0.81560854, 0.09887139, 0.98252052, 0.66822349, 0.23467506,
       0.97080287, 0.80207331, 0.61709809, 0.95591375, 0.84028257,
       0.69556508, 0.92192813, 0.16728492, 0.80515732, 0.64501167,
       0.93452951, 0.64789554, 0.49083291, 0.69678387, 0.94045055,
       0.06715551, 0.69072296, 0.03065629, 0.27016291, 0.00375508,
       0.66885006, 0.9164353 , 0.20373179, 0.76819063, 0.38906176,
       0.5193418 , 0.37767248, 0.99735243, 0.55371021, 0.20494315,
       0.96231217, 0.7027388 , 0.37486221, 0.95606331, 0.68792139,
       0.36203108, 0.66296253, 0.3713046 , 0.0792884 , 0.84385883,
       0.45560877, 0.03907697, 0.84612791, 0.32636062, 0.09573064,
       0.5237503 , 0.67177956, 0.39869642, 0.96858848, 0.96228524,
       0.16489656, 0.25200065, 0.91847451, 0.31091028, 0.28884873,
       0.77582783, 0.81362048, 0.82376565, 0.48558791, 0.12748078,
       0.1957922 , 0.60495492, 0.2249897 , 0.58910733, 0.3743331 ,
       0.34204064, 0.86406078, 0.77656934, 0.86991207, 0.63301525,
       0.33082883, 0.25051361, 0.17705777, 0.71277392, 0.42533762,
       0.37321329, 0.45690735, 0.92349401, 0.48685007, 0.2444328 ])

In [56]:
random_number.sum()

53.37113579948215

To find the minimum value in an array, use the `np.min()` method.

In [57]:
random_number.min()

0.0037550797295539118

To find the maximum value in an array, use the `np.max()` method.

In [58]:
random_number.max()

0.9973524260360868

`np.argmax()` is used to find the index of maximum value.

In [60]:
random_number.argmax()

47

`np.argmin()` is used to find the index of minimum value.

In [61]:
random_number.argmin()

39

In order to calculate the standard deviation and variance of an array, we use `std()` and `var()`

In [62]:
random_number.std()

0.29545992424572787

In [63]:
random_number.var()

0.08729656683529124

Median value is exactly the entry in the middle of a sorted array. `np.median()` function can do this computation.

In [65]:
np.median(random_number)

0.5215460506694953

We may also wish to compute quantiles of an array. In the following example, we find the 25th and 75th percentile of the array, respectively.

In [68]:
print('25th percentile is {:.2f}'.format(np.percentile(random_number, 25)))
print('75th percentile is {:.2f}'.format(np.percentile(random_number, 75)))

25th percentile is 0.28
75th percentile is 0.81

## Pandas

Pandas is a powerful, flexible, easy to use and high-level open source program that is used for data analysis and manipulation. Pandas was developed by `Wes McKinney`.

Pandas was built on Numpy package, meaning that lots of the Numpy structure are used, its key data structure is called DataFrame. Dataframe serves the purpose of allowing you to store and manipulate data in rows.

Jupyter Notebooks enable a good environment for us to do data exploration and modelling, pandas is used in text editors as well.

Pandas enables you to do the following:
* It is used to calculate statistics and answer questions.
* It is used for data visualization by using tools such as Matplotlib,
histograms, plot bars, lines, bubbles etc.
* It is used to store data into a CSV.
* It is used to remove missing values and filtering rows or columns by
following set criteria.

In a nutshell, pandas is Python's Excel!. As a data scientist, learning pandas well is one of the things that will make your life easier.

**Why Use Pandas?**

When dealing with data, pandas become very handy. It is easy for you to load and save data, useful in data exploration and understand the data, it has a built-in visualization functions to plot data, pandas also can deal with duplicates and missing values in data.

Moreover, say you want to explore a dataset stored in a CSV on your computer. Pandas will extract the data from that CSV into a DataFrame (a table basically), then let you do things like:

* Calculate statistics and answer questions about your data, like average, median, coloumns correlation etc. 
* Clean the data by doing things like removing missing values and filtering rows or columns by some criteria.
* Store the cleaned, transformed data back into a CSV, other file or database.
* Visualize the data with help from Matplotlib. Plot bars, lines, histograms, bubbles, and more.

**Installation of Pandas**

Before starting you need to install pandas using `pip` in your command prompt by typing **pip install pandas**. Then, all we need is to install pandas library as:

In [93]:
import pandas as pd

### Components of Pandas: Series of Pandas and DataFrames

The two components of pandas are **Series** and **DataFrame**.


`Series` is a one-dimensional data type and they are capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.) while a `DataFrame` is a multi-dimensional table that is made up of collection of series.

### Creating Series

A Pandas Series can be created out of a Python list or array. It has to be remembered that unlike Python lists, a Series will always contain data of the same type.

Series is constructor. Note that an index will be created starting from 0.

In [102]:
series_list = pd.Series([1,2,3,4,5,6]) 
print(series_list)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

Let's create a Series using numpy:

In [99]:
data = np.array([18, 25, 22, 34, 26])
s = pd.Series(data)
s

0    18
1    25
2    22
3    34
4    26
dtype: int64

In [ ]:
It is possible to modify the index as you wish.

In [100]:
s = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    18
b    25
c    22
d    34
e    26
dtype: int64

And here is the type of the Series s:

In [101]:
print(s.dtype)

int64

### Creating DataFrames

There are several ways in creating a DataFrame from the scratch, one of the best ways is to use a `dictionary`.

For instance, in a situation whereby we have a fruit seller that sells grapes and oranges, we can create a column for each fruit type and a row for each customer purchasing fruit. For us to organize this using dictionary for pandas, it can be done in the way described below:

In [92]:
import pandas as pd

In [90]:
data = {'grapes' : [3, 2, 0, 2],
'oranges' : [0, 3, 7, 2]}

In [ ]:
Then it will be passed to the Pandas DataFrame constructor:

In [94]:
purchases = pd.DataFrame(data)
purchases

   grapes  oranges
0       3        0
1       2        3
2       0        7
3       2        2

This worked in such a way that each key/value item in data corresponds to a column in the resulting DataFrame. The index of the DataFrame was given on creating it as the numbers 0 – 3, and we could create ours too when we initialize the DataFrame.

Here we have customers names as our index:

In [97]:
purchases = pd.DataFrame(data, index= ['James', 'Dan', 'Alex', 'Brad']) 
purchases

       grapes  oranges
James       3        0
Dan         2        3
Alex        0        7
Brad        2        2

**Creating DataFrame from files**

`Car Road Tests` (cardetails) contains 32 observations on 11 (numeric) variables. The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973--74 models).

CSV (Comma Seperated Values) files are a commonly used file format for structured table format data and it is easy to import data from `csv`.

Here, we use a sample `.csv` file with the same countries data. The basics of loading a .csv into a DataFrame are simple. We can read data from file named `cars.csv` with only one line of code. The file contains following lines. You can also copy it into a text editor and save as a .csv file to into the same folder with working jupyter notebook.

The function that we use is `pd.read_csv()`

In [136]:
cars=pd.read_csv("datasets/cars.csv")
cars

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

If we wish to view only the first five records, `head()` function is for you.

In [137]:
cars.head()

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

You can modify it so as to view first 10 observations.

In [138]:
cars.head(10)

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

It is possible to view last observations using `tail()`

In [110]:
cars.tail()

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

It is important to know that how many observations and columns that has. To do that we use `shape`

In [111]:
cars.shape

(32, 12)

In order to get information about your data `.info()` is one of the very first
command you input after loading the data.

`.info()` is a command that can be used to get data information. It provides details about dataset that includes rows and columns, data type in each column, the memory size being used and the number of non-null values. It can be done in a way described below:

In [113]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

###  Working with columns

Now, we have a DataFrame where we can do something. First, note that you can call a column as a series with dot notation or square brackets notation:

We can call specific column using either `df.colon_name` or `df['column_name']`.  Both can be used, but we cannot use dotted notation if the column name has a "whitespace" character.

Let's observe the name of all columns:

In [114]:
cars.columns

Index(['Car', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [139]:
cars['Car']

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: Car, dtype: object

We pass a list of columns name but what is the type of this output. Let's see:

In [141]:
type(cars['Car'])

pandas.core.series.Series

Well, it is series but sometimes we need a dataframe to move on to our analysis. How come we get a dataframe. It is easy just use double brackets.

In [142]:
cars[['Car']]

                    Car
0             Mazda RX4
1         Mazda RX4 Wag
2            Datsun 710
3        Hornet 4 Drive
4     Hornet Sportabout
5               Valiant
6            Duster 360
7             Merc 240D
8              Merc 230
9              Merc 280
10            Merc 280C
11           Merc 450SE
12           Merc 450SL
13          Merc 450SLC
14   Cadillac Fleetwood
15  Lincoln Continental
16    Chrysler Imperial
17             Fiat 128
18          Honda Civic
19       Toyota Corolla
20        Toyota Corona
21     Dodge Challenger
22          AMC Javelin
23           Camaro Z28
24     Pontiac Firebird
25            Fiat X1-9
26        Porsche 914-2
27         Lotus Europa
28       Ford Pantera L
29         Ferrari Dino
30        Maserati Bora
31           Volvo 142E

In [143]:
type(cars[['Car']])

pandas.core.frame.DataFrame

Double brackets is used when we need to select more than one columns in a dataframe.

In [117]:
cars[['mpg', 'cyl']]

     mpg  cyl
0   21.0    6
1   21.0    6
2   22.8    4
3   21.4    6
4   18.7    8
5   18.1    6
6   14.3    8
7   24.4    4
8   22.8    4
9   19.2    6
10  17.8    6
11  16.4    8
12  17.3    8
13  15.2    8
14  10.4    8
15  10.4    8
16  14.7    8
17  32.4    4
18  30.4    4
19  33.9    4
20  21.5    4
21  15.5    8
22  15.2    8
23  13.3    8
24  19.2    8
25  27.3    4
26  26.0    4
27  30.4    4
28  15.8    8
29  19.7    6
30  15.0    8
31  21.4    4

We can use `set_index()` on any DataFrame by using a column at any time. Common tasks are indexing series and DataFrames.

In [119]:
cars.set_index('mpg')

,Car,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,,,,,,,,,,,
21.0,Mazda RX4,6,160.0,110,3.90,2.620,16.46,0,1,4,4
21.0,Mazda RX4 Wag,6,160.0,110,3.90,2.875,17.02,0,1,4,4
22.8,Datsun 710,4,108.0,93,3.85,2.320,18.61,1,1,4,1
21.4,Hornet 4 Drive,6,258.0,110,3.08,3.215,19.44,1,0,3,1
18.7,Hornet Sportabout,8,360.0,175,3.15,3.440,17.02,0,0,3,2
18.1,Valiant,6,225.0,105,2.76,3.460,20.22,1,0,3,1
14.3,Duster 360,8,360.0,245,3.21,3.570,15.84,0,0,3,4
24.4,Merc 240D,4,146.7,62,3.69,3.190,20.00,1,0,4,2
22.8,Merc 230,4,140.8,95,3.92,3.150,22.90,1,0,4,2
19.2,Merc 280,6,167.6,123,3.92,3.440,18.30,1,0,4,4
17.8,Merc 280C,6,167.6,123,3.92,3.440,18.90,1,0,4,4
16.4,Merc 450SE,8,275.8,180,3.07,4.070,17.40,0,0,3,3
17.3,Merc 450SL,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15.2,Merc 450SLC,8,275.8,180,3.07,3.780,18.00,0,0,3,3
10.4,Cadillac Fleetwood,8,472.0,205,2.93,5.250,17.98,0,0,3,4
10.4,Lincoln Continental,8,460.0,215,3.00,5.424,17.82,0,0,3,4
14.7,Chrysler Imperial,8,440.0,230,3.23,5.345,17.42,0,0,3,4
32.4,Fiat 128,4,78.7,66,4.08,2.200,19.47,1,1,4,1
30.4,Honda Civic,4,75.7,52,4.93,1.615,18.52,1,1,4,2
33.9,Toyota Corolla,4,71.1,65,4.22,1.835,19.90,1,1,4,1
21.5,Toyota Corona,4,120.1,97,3.70,2.465,20.01,1,0,3,1
15.5,Dodge Challenger,8,318.0,150,2.76,3.520,16.87,0,0,3,2
15.2,AMC Javelin,8,304.0,150,3.15,3.435,17.30,0,0,3,2
13.3,Camaro Z28,8,350.0,245,3.73,3.840,15.41,0,0,3,4
19.2,Pontiac Firebird,8,400.0,175,3.08,3.845,17.05,0,0,3,2
27.3,Fiat X1-9,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26.0,Porsche 914-2,4,120.3,91,4.43,2.140,16.70,0,1,5,2
30.4,Lotus Europa,4,95.1,113,3.77,1.513,16.90,1,1,5,2
15.8,Ford Pantera L,8,351.0,264,4.22,3.170,14.50,0,1,5,4
19.7,Ferrari Dino,6,145.0,175,3.62,2.770,15.50,0,1,5,6
15.0,Maserati Bora,8,301.0,335,3.54,3.570,14.60,0,1,5,8
21.4,Volvo 142E,4,121.0,109,4.11,2.780,18.60,1,1,4,2

### Converting Dataframe to CSV

It is vital to save file as a file of one’s choice after working on cleaning data. Pandas provide these commands for saving files.

In [ ]:
df.to_csv('cars.csv')

### Filtering specific row and colums

We have three options, which are:

* Using bracket
* .loc : It locates by name and number.
* .iloc: It locates by numerical index.

It is possible to make a selection using bracket. In the following example, we select 4 rows and all columns using bracket.

In [144]:
cars[1:5]

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

However, `loc` and `iloc` allows us to make more advanced selection. Let's see how it works.

`loc` both works with number and string. For instance, in making a row based selection, just type the row number you want to work with.

In [124]:
cars.loc[2]

Car     Datsun 710
mpg           22.8
cyl              4
disp           108
hp              93
drat          3.85
wt            2.32
qsec         18.61
vs               1
am               1
gear             4
carb             1
Name: 2, dtype: object

The preceding function return 3rd row of the dataframe.

There is more than that. `loc` based selection provides different options to us. For instance, we can make a selection using index.

Once we change the index as to include `Car`, we can use loc for selection based on car model.

In [125]:
car_reindex=cars.set_index('Car')
car_reindex.loc['Honda Civic']

mpg     30.400
cyl      4.000
disp    75.700
hp      52.000
drat     4.930
wt       1.615
qsec    18.520
vs       1.000
am       1.000
gear     4.000
carb     2.000
Name: Honda Civic, dtype: float64

In the following practice, we select `mpg` with all its observations (rows).

In [155]:
car_reindex.loc[:,'mpg']

Car
Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

How about combining index and columm labels:

In [157]:
car_reindex.loc['Honda Civic','mpg']

30.4

This can be further done by selecting multiple rows. The way to do this with list is to slice with bracket. It is demonstrated below as this:

In [130]:
car_reindex.loc["Honda Civic": "Camaro Z28"]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Car,,,,,,,,,,,
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4

The `iloc` method enables us to give it the numerical index of `Honda Civic`.

In [129]:
car_reindex.iloc[18]

mpg     30.400
cyl      4.000
disp    75.700
hp      52.000
drat     4.930
wt       1.615
qsec    18.520
vs       1.000
am       1.000
gear     4.000
carb     2.000
Name: Honda Civic, dtype: float64

This can be further done by selecting multiple rows. The way to do this with list is to slice with bracket. It is demonstrated below as this:

In [158]:
car_reindex.iloc[18:23]

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Car,,,,,,,,,,,
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2

### Conditional Selection

We have discussed how we can select rows and columns and there is need to study how to make conditional selection. For instance, we may need filter our car dataframe to show only cars with mpg greater than or equals to 20. In order to do this, we are going to apply a Boolean condition to it.

We have an example of a Boolean condition below:

In [160]:
car_reindex['mpg'] >= 20

Car
Mazda RX4               True
Mazda RX4 Wag           True
Datsun 710              True
Hornet 4 Drive          True
Hornet Sportabout      False
Valiant                False
Duster 360             False
Merc 240D               True
Merc 230                True
Merc 280               False
Merc 280C              False
Merc 450SE             False
Merc 450SL             False
Merc 450SLC            False
Cadillac Fleetwood     False
Lincoln Continental    False
Chrysler Imperial      False
Fiat 128                True
Honda Civic             True
Toyota Corolla          True
Toyota Corona           True
Dodge Challenger       False
AMC Javelin            False
Camaro Z28             False
Pontiac Firebird       False
Fiat X1-9               True
Porsche 914-2           True
Lotus Europa            True
Ford Pantera L         False
Ferrari Dino           False
Maserati Bora          False
Volvo 142E              True
Name: mpg, dtype: bool

The result above returned result with car with mgp greater than or equal to 20 to be true and it returned False for the cars that has less than 20 mpg. However, it is not very handy output, we only want the cars that has greater than or equal to 20 mpg to show up. In order to return only rows with True condition, we have to pass the operation into the DataFrame.

In [161]:
car_reindex[car_reindex['mpg'] >= 20]

                 mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
Car
Mazda RX4       21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710      22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
Merc 240D       24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
Merc 230        22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
Fiat 128        32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
Honda Civic     30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
Toyota Corona   21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
Fiat X1-9       27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
Porsche 914-2   26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
Volvo 142E      21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

Nice and easy, isn't it.

In [164]:
cars

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

Let's see the cars with model of `Volvo 142E`:

In [165]:
cars[cars['Car'] =='Volvo 142E']

           Car   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
31  Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

We can narrow down the selection conditions using `&` sign. In the following example, we make selection based on car model and mpg.

In [167]:
cars[(cars['Car'] =='Volvo 142E') & (cars['mpg']>= 20)]

           Car   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
31  Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

Another method we can make use of in order to make this more concise is the `isin()`. It is demonstrated below as this:

In [219]:
cars[cars['Car'].isin(['Dodge Challenger', 'Maserati Bora'])].head()

,Car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.52,16.87,0,0,3,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.60,0,1,5,8

### Descriptive Statistics

You know how to explore data using `pandas`. Now, you can apply your skills to understand the basic statistics about the data.

Pandas has plenty of tools for statistical analysis. Let's dive into.

In [226]:
movies_df=pd.read_csv("datasets/movies.csv", dtype='unicode')
movies_df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7,485820,126.46,65
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11

Before proceeding, it would be nice to figure out how many different categories exist in this dataframe.

In [207]:
movies_df['Genre'].unique()

array(['Action,Adventure,Sci-Fi', 'Adventure,Mystery,Sci-Fi',
       'Horror,Thriller', 'Animation,Comedy,Family',
       'Action,Adventure,Fantasy', 'Comedy,Drama,Music', 'Comedy',
       'Action,Adventure,Biography', 'Adventure,Drama,Romance',
       'Adventure,Family,Fantasy', 'Biography,Drama,History',
       'Animation,Adventure,Comedy', 'Action,Comedy,Drama',
       'Action,Thriller', 'Biography,Drama', 'Drama,Mystery,Sci-Fi',
       'Adventure,Drama,Thriller', 'Drama', 'Crime,Drama,Horror',
       'Action,Adventure,Drama', 'Drama,Thriller',
       'Action,Adventure,Comedy', 'Action,Horror,Sci-Fi',
       'Adventure,Drama,Sci-Fi', 'Action,Adventure,Western',
       'Comedy,Drama', 'Horror', 'Adventure,Drama,Fantasy',
       'Action,Crime,Thriller', 'Action,Crime,Drama',
       'Adventure,Drama,History', 'Crime,Horror,Thriller',
       'Drama,Romance', 'Comedy,Drama,Romance', 'Horror,Mystery,Thriller',
       'Crime,Drama,Mystery', 'Drama,Romance,Thriller',
       'Drama,History,Thriller', 'Action,Drama,Thriller', 'Drama,History',
       'Action,Drama,Romance', 'Drama,Fantasy', 'Action,Sci-Fi',
       'Adventure,Drama,War', 'Action,Comedy,Fantasy',
       'Biography,Comedy,Crime', 'Crime,Drama', 'Comedy,Crime,Drama',
       'Action,Comedy,Crime', 'Animation,Drama,Fantasy',
       'Horror,Mystery,Sci-Fi', 'Drama,Mystery,Thriller',
       'Crime,Drama,Thriller', 'Biography,Crime,Drama',
       'Crime,Mystery,Thriller', 'Action,Horror,Thriller',
       'Romance,Sci-Fi', 'Action,Fantasy,War', 'Action,Biography,Drama',
       'Drama,Horror,Mystery', 'Adventure,Drama,Family',
       'Adventure,Comedy,Romance', 'Action', 'Adventure,Crime,Mystery',
       'Comedy,Family,Musical', 'Adventure,Comedy,Drama',
       'Drama,Horror,Thriller', 'Drama,Music', 'Mystery,Thriller',
       'Mystery,Thriller,Western', 'Comedy,Family',
       'Biography,Comedy,Drama', 'Drama,Western', 'Drama,Mystery,Romance',
       'Action,Drama,Mystery', 'Action,Adventure,Crime',
       'Adventure,Sci-Fi,Thriller', 'Action,Comedy,Mystery',
       'Thriller,War', 'Action,Adventure,Thriller',
       'Drama,Fantasy,Romance', 'Action,Drama,History',
       'Animation,Adventure,Family', 'Adventure,Horror',
       'Drama,Romance,Sci-Fi', 'Action,Adventure,Family', 'Action,Comedy',
       'Comedy,Romance', 'Horror,Mystery', 'Drama,Family,Fantasy',
       'Sci-Fi', 'Drama,War', 'Drama,Fantasy,Horror',
       'Crime,Drama,History', 'Horror,Sci-Fi,Thriller',
       'Action,Drama,Sport', 'Adventure,Biography,Drama',
       'Biography,Drama,Thriller', 'Action,Adventure,Mystery',
       'Drama,Horror', 'Comedy,Crime', 'Drama,Fantasy,War',
       'Action,Adventure,Romance', 'Action,Drama,War',
       'Drama,Musical,Romance', 'Drama,Sci-Fi,Thriller',
       'Action,Drama,Sci-Fi', 'Drama,Sci-Fi', 'Adventure,Fantasy',
       'Thriller', 'Biography,Drama,Romance', 'Action,Adventure',
       'Action,Fantasy', 'Action,Drama,Horror', 'Comedy,Music,Romance',
       'Biography,Drama,Sport', 'Action,Horror', 'Comedy,Horror,Thriller',
       'Crime,Drama,Music', 'Action,Sci-Fi,Thriller',
       'Drama,Horror,Sci-Fi', 'Drama,Sport', 'Comedy,Horror',
       'Comedy,Fantasy,Romance', 'Comedy,Fantasy', 'Comedy,Drama,Fantasy',
       'Adventure,Comedy,Horror', 'Comedy,Mystery',
       'Action,Mystery,Sci-Fi', 'Action,Crime,Fantasy',
       'Comedy,Fantasy,Horror', 'Animation,Action,Adventure',
       'Action,Comedy,Family', 'Comedy,Sci-Fi', 'Action,Biography,Crime',
       'Adventure,Comedy', 'Comedy,Music', 'Comedy,Drama,Horror',
       'Action,Horror,Romance', 'Action,Drama,Fantasy',
       'Action,Mystery,Thriller', 'Action,Adventure,Horror',
       'Animation,Family,Fantasy', 'Adventure,Horror,Mystery',
       'Action,Horror,Mystery', 'Adventure,Comedy,Family',
       'Action,Crime,Mystery', 'Comedy,Drama,Family',
       'Action,Crime,Sport', 'Mystery,Sci-Fi,Thriller', 'Sci-Fi,Thriller',
       'Adventure,Drama,Horror', 'Biography,History,Thriller',
       'Adventure,Comedy,Sci-Fi', 'Fantasy,Horror',
       'Action,Fantasy,Thriller', 'Comedy,Romance,Sport',
       'Animation,Action,Comedy', 'Drama,Fantasy,Thriller',
       'Action,Comedy,Romance', 'Action,Fantasy,Horror',
       'Mystery,Romance,Sci-Fi', 'Comedy,Drama,Thriller',
       'Comedy,Western', 'Drama,History,War', 'Fantasy,Horror,Thriller',
       'Drama,Horror,Musical', 'Drama,Family', 'Romance,Sci-Fi,Thriller',
       'Animation,Fantasy', 'Drama,Mystery,War', 'Action,Drama,Family',
       'Adventure,Drama,Western', 'Drama,Music,Romance',
       'Comedy,Romance,Western', 'Adventure,Drama', 'Drama,Thriller,War',
       'Drama,Fantasy,Mystery', 'Comedy,Crime,Thriller',
       'Animation,Comedy,Drama', 'Action,Comedy,Sci-Fi',
       'Drama,Romance,War', 'Adventure,Fantasy,Mystery',
       'Mystery,Romance,Thriller', 'Biography,Drama,Mystery',
       'Animation,Drama,Romance', 'Comedy,Horror,Romance',
       'Action,Thriller,War', 'Action,Comedy,Horror',
       'Action,Crime,Sci-Fi', 'Crime,Thriller', 'Comedy,Horror,Sci-Fi',
       'Crime,Drama,Fantasy', 'Drama,Fantasy,Music',
       'Action,Comedy,Sport', 'Fantasy,Mystery,Thriller', 'Adventure',
       'Adventure,Biography', 'Adventure,Biography,Crime',
       'Comedy,Drama,Musical', 'Comedy,Family,Romance',
       'Biography,Drama,Family', 'Drama,Fantasy,Musical',
       'Adventure,Family', 'Adventure,Comedy,Fantasy',
       'Drama,Family,Music', 'Comedy,Family,Fantasy'], dtype=object)

Well, it seems like we have many unique categories and it is hard to count. Let's make it count for us:

In [208]:
movies_df['Genre'].nunique()

207

Ok, we know that we have 207 different categories but how about the number of appearances of these categories in the dataframe.

In [209]:
category_counts=movies_df['Genre'].value_counts()
category_counts.head(5)

Action,Adventure,Sci-Fi    50
Drama                      48
Comedy,Drama,Romance       35
Comedy                     32
Drama,Romance              31
Name: Genre, dtype: int64

It seems that most of the movies fall under the category of `Action,Adventure,Sci-Fi` and the category of `Drama,Romance` is the least appeared category in this dataframe.

**Handling Duplicates**

It is always vital to ensure one is not working with duplicate rows. Duplicate is being handled this way:

In [211]:
temp_df = movies_df.append(movies_df)
temp_df.shape

(2000, 12)

Using `append()` returns a copy without necessarily affecting the original DataFrame. We can capture this copy by using temp. `.shape` will confirm that that we are back to 1000 rows of our original dataset with the duplicates removed.

An important argument for drop_duplicates() is keep. keep has three options namely:
* first: It is the default and it drops duplicates, except from the first occurrence.
* last: It drops duplicates, except from the last occurrence.
* False: This drops all possible duplicates.

In [212]:
temp_df = temp_df.drop_duplicates() 
temp_df.shape

(1000, 12)

**Working with Missing Values**

Missing values and null values are common occurrences when working with data. Null values are placeholders for values that are not existing. In Python null values are seen as `NaN` or NumPy’s `np.nan`, these are handled differently in some situations.

There are two ways to use in dealing with nulls, they are:
* Eliminating rows or columns that have null values.
* Replacing null values with non-null values.
The total number of null in our columns of the dataset can be calculated in this way:

In [213]:
movies_df.isnull()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,True,False
996,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,True,False
999,False,False,False,False,False,False,False,False,False,False,False,False

In order to count the number of nulls in each column, we are going to use an aggregate function .sum() for summing.

In [214]:
movies_df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

**Removing null values**

We can remove the rows with null values by using this method:

In [215]:
movies_df.dropna()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7,485820,126.46,65
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40
...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,Resident Evil: Afterlife,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37
994,995,Project X,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11

We can drop rows with null values by specifying the axis, instead of dropping all rows, some of which may contain good data in other columns of the dropped row. It can be done by using this method:

In [216]:
movies_df.dropna(axis=1)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7,485820
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727
...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435

This operation will only drop the revenue (millions) and the metascore columns.

**Understanding the Variables**

We can get the summary of the distribution of continuous variables by using `describe()` method on an entire DataFrame.

In [217]:
movies_df.describe()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,872,936
unique,1000,999,207,1000,644,996,11,94,55,997,814,84
top,187,The Host,"Action,Adventure,Sci-Fi",As his kingdom is being threatened by the Turk...,Ridley Scott,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2016,108,7.1,97141,0.03,66
freq,1,2,50,1,8,2,297,31,52,2,7,25

It is a problem to understand which of the numbers are continuous when we are thinking about the type of plot to use to represent data visually.

We can use `.describe()` on a categorical variable for us to get the count of rows, unique count of categories frequency of top category and top category.

It is described below:

In [221]:
movies_df['Genre'].describe()

count                        1000
unique                        207
top       Action,Adventure,Sci-Fi
freq                           50
Name: Genre, dtype: object

It means that the genre column has 207 unique values, Action/Adventure/Sci-Fi is the top value and its shows up 50 times (the freq).

### Grouping

Having working with a dataset, categorizing the data matters. For instance, you wish to summarize the data using a category such as `marriage status`, you need to group the people according to their gender status. After grouping, you can calculate summary statistics.

The `groupby()` method allows you to group records by one or more categorical variables.

In [234]:
movies_df.groupby('Genre').mean()

DataError: No numeric types to aggregate

Here, we get an error (`No numeric types to aggregate`) telling us that none of the data is numerical in the dataset even if they appear so. That is one of fantastic example that we can face as a data scientist. Our aim is to find out what the problem. Let's start with `info()` function.

In [235]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   object
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   object
 7   Runtime (Minutes)   1000 non-null   object
 8   Rating              1000 non-null   object
 9   Votes               1000 non-null   object
 10  Revenue (Millions)  872 non-null    object
 11  Metascore           936 non-null    object
dtypes: object(12)
memory usage: 93.9+ KB

It seems like all of our columns has object type. But it is not the end of the story. We can figure this out converting the `Rating` data type as follows.

In [236]:
movies_df['Rating']=movies_df['Rating'].astype('float')

Now, we are ready to move on and apply `groupby` to calculate rating based on unique categories. As `Rating` is the only numerical category we do not need to specify its name.

In [238]:
movies_df.groupby('Genre').mean()

                              Rating
Genre
Action                      6.150000
Action,Adventure            6.400000
Action,Adventure,Biography  7.000000
Action,Adventure,Comedy     6.592857
Action,Adventure,Crime      6.433333
...                              ...
Romance,Sci-Fi,Thriller     7.100000
Sci-Fi                      4.950000
Sci-Fi,Thriller             5.000000
Thriller                    5.955556
Thriller,War                6.000000

[207 rows x 1 columns]

In the examples above, we used only one `agg function`. We can use `agg()` function if we want to make more than one operation.

In [239]:
movies_df.groupby('Genre').agg(['mean', 'sum'])

                              Rating
                                mean   sum
Genre
Action                      6.150000  12.3
Action,Adventure            6.400000  19.2
Action,Adventure,Biography  7.000000  14.0
Action,Adventure,Comedy     6.592857  92.3
Action,Adventure,Crime      6.433333  38.6
...                              ...   ...
Romance,Sci-Fi,Thriller     7.100000   7.1
Sci-Fi                      4.950000   9.9
Sci-Fi,Thriller             5.000000   5.0
Thriller                    5.955556  53.6
Thriller,War                6.000000   6.0

[207 rows x 2 columns]

In [258]:
movies_df_dropped=movies_df.drop_duplicates('Director')

In [259]:
movies_df_dropped.pivot(index='Director', columns='Year', values='Runtime (Minutes)')

Year                2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016
Director
Aamir Khan           NaN  165  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Abdellatif Kechiche  NaN  NaN  NaN  NaN  NaN  NaN  NaN  180  NaN  NaN  NaN
Adam Leon            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   82
Adam McKay           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  130  NaN
Adam Shankman        NaN  117  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
Xavier Dolan         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  139  NaN  NaN
Yimou Zhang          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  103
Yorgos Lanthimos     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  119  NaN
Zack Snyder          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  151
Zackary Adler        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  110  NaN

[644 rows x 11 columns]

You may notice that the DataFrame now has `years` placed on top of `Director`, which is known as `hierarchical index`. In order to get tabular format, just use `reset_index()`

In [260]:
movies_df_dropped.pivot(index='Director', columns='Year', values='Runtime (Minutes)').reset_index()

Year,Director,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aamir Khan,NaN,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abdellatif Kechiche,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,NaN,NaN,NaN
2,Adam Leon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82
3,Adam McKay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130,NaN
4,Adam Shankman,NaN,117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
639,Xavier Dolan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,NaN
640,Yimou Zhang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103
641,Yorgos Lanthimos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119,NaN
642,Zack Snyder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151
643,Zackary Adler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110,NaN