In [1]:
# 1- Write a code to compute the sum of the two lowest numbers and the two highest numbers in the following list.

In [2]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

sorted_list = sorted(my_list)

sum_of_lowest = sum(sorted_list[:2])
sum_of_highest = sum(sorted_list[-2:])

print("Sum of lowest {}\nSum of highest {}".format(sum_of_lowest,sum_of_highest))

Sum of lowest 14
Sum of highest 174

In [3]:
# 2- The following two lists contain student names and scores. Write a code that gets the name from the user and prints the score of that student.

In [11]:
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven",
        "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

i = 0
while i < len(names):
    print("{:<10} : {}".format(names[i], scores[i]))
    i += 1

David      : 99
Michael    : 87
John       : 78
James      : 86
Greg       : 68
Mark       : 94
William    : 76
Richard    : 97
Thomas     : 56
Steven     : 98
Mary       : 76
Susan      : 87
Maria      : 79
Karen      : 90
Lisa       : 73
Linda      : 93
Donna      : 82
Patricia   : 69
Debra      : 97
Eric       : 98

In [12]:
# 3- By using the two lists above, what is the maximum score and how many students got that score?

In [ ]:
max_score = max(scores)
count =